n8n/workflows/02-summarization.json
{
  "name": "02 - Article Summarization",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url, title, content FROM articles WHERE processed = FALSE ORDER BY fetched_at ASC LIMIT 10",
        "options": {}
      },
      "id": "fetch-unprocessed",
      "name": "Fetch Unprocessed Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-articles",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-articles-exist",
      "name": "Check Articles Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional news summarizer. Create two versions of a summary for the following article:\n\n**Title:** {{ $json.title }}\n\n**Content:** {{ $json.content }}\n\nProvide:\n1. **Short Summary** (2-3 sentences, max 150 characters)\n2. **Long Summary** (1 detailed paragraph with key insights)\n\nFormat your response as JSON:\n{\n  \"short\": \"your short summary here\",\n  \"long\": \"your long summary here\"\n}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        }
      },
      "id": "openai-summarize",
      "name": "OpenAI Summarize",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response and extract summaries\nconst response = $input.first().json.message.content;\n\ntry {\n  // Try to parse JSON response\n  const summaries = JSON.parse(response);\n  \n  return {\n    json: {\n      article_id: $input.first().json.id,\n      summary_short: summaries.short,\n      summary_long: summaries.long,\n      success: true\n    }\n  };\n} catch (error) {\n  // Fallback: use raw response as summary\n  return {\n    json: {\n      article_id: $input.first().json.id,\n      summary_short: response.substring(0, 150),\n      summary_long: response,\n      success: false,\n      error: 'Failed to parse JSON response'\n    }\n  };\n}"
      },
      "id": "parse-summaries",
      "name": "Parse Summaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE articles SET summary_short = $1, summary_long = $2, processed = TRUE WHERE id = $3",
        "options": {}
      },
      "id": "update-article",
      "name": "Update Article with Summaries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Count processed articles\nconst processedCount = $input.all().length;\nconst successCount = $input.all().filter(item => item.json.success !== false).length;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    articles_processed: processedCount,\n    successful: successCount,\n    failed: processedCount - successCount,\n    message: `Processed ${processedCount} articles (${successCount} successful)`\n  }\n};"
      },
      "id": "count-results",
      "name": "Count Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "content": "## No Articles to Process\n\nNo unprocessed articles found in the database.",
        "height": 80,
        "width": 150
      },
      "id": "note-no-articles",
      "name": "No Articles Found",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [680, 460]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Unprocessed Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unprocessed Articles": {
      "main": [
        [
          {
            "node": "Check Articles Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Articles Exist": {
      "main": [
        [
          {
            "node": "OpenAI Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Summarize": {
      "main": [
        [
          {
            "node": "Parse Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summaries": {
      "main": [
        [
          {
            "node": "Update Article with Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Article with Summaries": {
      "main": [
        [
          {
            "node": "Count Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-09T00:00:00.000Z",
  "versionId": "1"
}
