n8n/workflows/03-email-digest.json
{
  "name": "03 - Daily Email Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Day at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url, title, content, source, published_at, summary_short, summary_long, fetched_at FROM articles WHERE processed = TRUE AND sent = FALSE ORDER BY fetched_at DESC",
        "options": {}
      },
      "id": "fetch-unsent",
      "name": "Fetch Unsent Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-articles",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-articles-exist",
      "name": "Check Articles Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML email from all articles\nconst articles = $input.all();\nconst date = new Date().toLocaleDateString('de-DE', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nconst articleIds = articles.map(item => item.json.id);\n\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 800px; margin: 0 auto; padding: 20px; }\n    h1 { color: #2c3e50; border-bottom: 3px solid #3498db; padding-bottom: 10px; }\n    .article { margin-bottom: 30px; padding: 20px; background: #f9f9f9; border-left: 4px solid #3498db; }\n    .article h2 { margin-top: 0; color: #2c3e50; }\n    .article-meta { color: #7f8c8d; font-size: 0.9em; margin-bottom: 10px; }\n    .summary { margin: 15px 0; }\n    .summary-short { font-weight: bold; color: #34495e; margin-bottom: 10px; }\n    .summary-long { color: #555; }\n    .read-more { display: inline-block; margin-top: 10px; color: #3498db; text-decoration: none; }\n    .footer { margin-top: 40px; padding-top: 20px; border-top: 1px solid #ddd; color: #7f8c8d; font-size: 0.85em; text-align: center; }\n  </style>\n</head>\n<body>\n  <h1>📰 Dein News Digest - ${date}</h1>\n  <p>Hier sind deine ${articles.length} wichtigsten Nachrichten von heute:</p>\n`;\n\nfor (const item of articles) {\n  const article = item.json;\n  const publishedDate = article.published_at ? \n    new Date(article.published_at).toLocaleDateString('de-DE') : \n    'Datum unbekannt';\n  \n  html += `\n  <div class=\"article\">\n    <h2>${article.title}</h2>\n    <div class=\"article-meta\">\n      📅 ${publishedDate} | 📰 ${article.source}\n    </div>\n    <div class=\"summary\">\n      <div class=\"summary-short\">⚡ ${article.summary_short || 'Keine Kurzzusammenfassung verfügbar'}</div>\n      <div class=\"summary-long\">${article.summary_long || 'Keine ausführliche Zusammenfassung verfügbar'}</div>\n    </div>\n    <a href=\"${article.url}\" class=\"read-more\" target=\"_blank\">→ Weiterlesen</a>\n  </div>\n  `;\n}\n\nhtml += `\n  <div class=\"footer\">\n    <p>Dieser Digest wurde automatisch von deinem News AI Agent generiert.</p>\n    <p>Powered by n8n + OpenAI</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    html_content: html,\n    article_count: articles.length,\n    article_ids: articleIds,\n    subject: `📰 News Digest - ${date} (${articles.length} Artikel)`\n  }\n};"
      },
      "id": "generate-html",
      "name": "Generate HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM }}",
        "toEmail": "={{ $env.RECIPIENT_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "message": "={{ $json.html_content }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE articles SET sent = TRUE WHERE id = ANY($1::uuid[])",
        "options": {}
      },
      "id": "mark-as-sent",
      "name": "Mark Articles as Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Final success message\nconst articleCount = $input.first().json.article_count;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    articles_sent: articleCount,\n    status: 'success',\n    message: `Successfully sent digest with ${articleCount} articles`\n  }\n};"
      },
      "id": "success-message",
      "name": "Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "content": "## No New Articles\n\nNo articles to send today.",
        "height": 80,
        "width": 150
      },
      "id": "note-no-articles",
      "name": "No Articles",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [680, 460]
    }
  ],
  "connections": {
    "Every Day at 8 AM": {
      "main": [
        [
          {
            "node": "Fetch Unsent Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unsent Articles": {
      "main": [
        [
          {
            "node": "Check Articles Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Articles Exist": {
      "main": [
        [
          {
            "node": "Generate HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Email": {
      "main": [
        [
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Digest": {
      "main": [
        [
          {
            "node": "Mark Articles as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Articles as Sent": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-09T00:00:00.000Z",
  "versionId": "1"
}
