n8n/workflows/AI-news-agent.json
{
  "name": "AI-news-agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "59c190e0-b241-496e-97b4-db05de549121",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        464,
        80
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "9dc5cd97-430c-4504-8c9c-02ebe850c924",
      "name": "Merge Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        944,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT url FROM articles WHERE url = '{{ $json.link }}'",
        "options": {}
      },
      "id": "a1f4b184-e450-4a47-8b15-8529855afb69",
      "name": "Check if URL Exists",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1136,
        -96
      ],
      "credentials": {
        "postgres": {
          "id": "pL7pCU2SifgxjMpA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO articles (url, title, content, source, published_at, processed, sent)\nVALUES ($1, $2, $3, $4, $5, false, false)\nON CONFLICT (url) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ $json.link }},{{ $json.title }},{{ $json.contentSnippet || $json.content }},{{ $json.creator || 'RSS Feed' }},{{ $json.pubDate || $json.isoDate }},false,false"
        }
      },
      "id": "d03bb872-15e3-46f4-b0bb-717d655b3f87",
      "name": "Insert New Article",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1664,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "pL7pCU2SifgxjMpA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Count new articles inserted\nconst newArticlesCount = $input.all().length;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    new_articles: newArticlesCount,\n    message: `Successfully ingested ${newArticlesCount} new articles`\n  }\n};"
      },
      "id": "1d6c8a05-3b5c-4f08-b1cb-3854af236844",
      "name": "Count New Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        96
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "d9498ed9-660b-4855-9b0f-c56ec7f28d6a",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url, title, content FROM articles WHERE processed = FALSE ORDER BY fetched_at ASC LIMIT 10",
        "options": {}
      },
      "id": "0e23790b-1c3d-49b0-bfd1-2a6850f0f76a",
      "name": "Fetch Unprocessed Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        704,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "pL7pCU2SifgxjMpA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-articles",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "afd7648d-d6a5-45ca-9fec-1142f321f16a",
      "name": "Check Articles Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        928,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse OpenAI response and extract summaries\nconst response = $input.item.json.message.content;\n\ntry {\n  // Try to parse JSON response\n  const summaries = JSON.parse(response);\n  \n  return {\n    json: {\n      article_id: $('Fetch Unprocessed Articles').item.json.id,\n      summary_short: summaries.short,\n      summary_long: summaries.long,\n      success: true\n    }\n  };\n} catch (error) {\n  // Fallback: use raw response as summary\n  return {\n    json: {\n      article_id: $('Fetch Unprocessed Articles').item.json.id,\n      summary_short: response.substring(0, 150),\n      summary_long: response,\n      success: false,\n      error: 'Failed to parse JSON response'\n    }\n  };\n}"
      },
      "id": "e9271f02-9d47-4397-85cc-e692832a2f09",
      "name": "Parse Summaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE articles SET summary_short = $1, summary_long = $2, processed = TRUE WHERE id = $3",
        "options": {
          "queryReplacement": "=[{{ $json.summary_short }}, {{ $json.summary_long }}, {{ $json.article_id }}]"
        }
      },
      "id": "b2eca4c5-4c57-4522-acd1-446217a7307a",
      "name": "Update Article with Summaries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1680,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "pL7pCU2SifgxjMpA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Count processed articles\nconst processedCount = $input.all().length;\nconst successCount = $input.all().filter(item => item.json.success !== false).length;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    articles_processed: processedCount,\n    successful: successCount,\n    failed: processedCount - successCount,\n    message: `Processed ${processedCount} articles (${successCount} successful)`\n  }\n};"
      },
      "id": "a7cbf578-2e6c-4875-b832-558eeaf6039a",
      "name": "Count Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        480
      ]
    },
    {
      "parameters": {
        "content": "## No Articles to Process\n\nNo unprocessed articles found in the database.",
        "height": 80,
        "width": 150
      },
      "id": "68ea90bf-ade8-4859-8081-bd44231bb0b3",
      "name": "No Articles Found",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        640
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cf75be52-8fc6-47a8-b739-190f790a2264",
      "name": "Every Day at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        864
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url, title, content, source, published_at, summary_short, summary_long, fetched_at FROM articles WHERE processed = TRUE AND sent = FALSE ORDER BY fetched_at DESC",
        "options": {}
      },
      "id": "c3c35eaa-91fb-470e-8cc2-fe88d08b2114",
      "name": "Fetch Unsent Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        704,
        864
      ],
      "credentials": {
        "postgres": {
          "id": "pL7pCU2SifgxjMpA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML email from all articles\nconst articles = $input.all();\nconst date = new Date().toLocaleDateString('de-DE', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nconst articleIds = articles.map(item => item.json.id);\n\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 800px; margin: 0 auto; padding: 20px; }\n    h1 { color: #2c3e50; border-bottom: 3px solid #3498db; padding-bottom: 10px; }\n    .article { margin-bottom: 30px; padding: 20px; background: #f9f9f9; border-left: 4px solid #3498db; }\n    .article h2 { margin-top: 0; color: #2c3e50; }\n    .article-meta { color: #7f8c8d; font-size: 0.9em; margin-bottom: 10px; }\n    .summary { margin: 15px 0; }\n    .summary-short { font-weight: bold; color: #34495e; margin-bottom: 10px; }\n    .summary-long { color: #555; }\n    .read-more { display: inline-block; margin-top: 10px; color: #3498db; text-decoration: none; }\n    .footer { margin-top: 40px; padding-top: 20px; border-top: 1px solid #ddd; color: #7f8c8d; font-size: 0.85em; text-align: center; }\n  </style>\n</head>\n<body>\n  <h1>📰 Dein News Digest - ${date}</h1>\n  <p>Hier sind deine ${articles.length} wichtigsten Nachrichten von heute:</p>\n`;\n\nfor (const item of articles) {\n  const article = item.json;\n  const publishedDate = article.published_at ? \n    new Date(article.published_at).toLocaleDateString('de-DE') : \n    'Datum unbekannt';\n  \n  html += `\n  <div class=\"article\">\n    <h2>${article.title}</h2>\n    <div class=\"article-meta\">\n      📅 ${publishedDate} | 📰 ${article.source}\n    </div>\n    <div class=\"summary\">\n      <div class=\"summary-short\">⚡ ${article.summary_short || 'Keine Kurzzusammenfassung verfügbar'}</div>\n      <div class=\"summary-long\">${article.summary_long || 'Keine ausführliche Zusammenfassung verfügbar'}</div>\n    </div>\n    <a href=\"${article.url}\" class=\"read-more\" target=\"_blank\">→ Weiterlesen</a>\n  </div>\n  `;\n}\n\nhtml += `\n  <div class=\"footer\">\n    <p>Dieser Digest wurde automatisch von deinem News AI Agent generiert.</p>\n    <p>Powered by n8n + OpenAI</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    html_content: html,\n    article_count: articles.length,\n    article_ids: articleIds,\n    subject: `📰 News Digest - ${date} (${articles.length} Artikel)`\n  }\n};"
      },
      "id": "a64d1215-5bff-4e3b-903a-b09cb7cd8420",
      "name": "Generate HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        864
      ]
    },
    {
      "parameters": {
        "fromEmail": "=royalcaster03@gmail.com",
        "toEmail": "=royalcaster03@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html_content }}",
        "options": {}
      },
      "id": "bbbaeb6e-f411-4a4e-a5af-d6296c755154",
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1360,
        864
      ],
      "webhookId": "cca6b90e-d3b4-4968-b96b-d2b9a14cf434",
      "credentials": {
        "smtp": {
          "id": "qCJH4KIGppU5vz29",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE articles SET sent = TRUE WHERE id::text = ANY(string_to_array($1, ','))",
        "options": {
          "queryReplacement": "={{ $('Generate HTML Email').item.json.article_ids.join(',') }}"
        }
      },
      "id": "d805a019-03c9-419d-92b3-22302d0c8b1e",
      "name": "Mark Articles as Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1584,
        864
      ],
      "credentials": {
        "postgres": {
          "id": "pL7pCU2SifgxjMpA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Final success message\nconst articleCount = $input.first().json.article_count;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    articles_sent: articleCount,\n    status: 'success',\n    message: `Successfully sent digest with ${articleCount} articles`\n  }\n};"
      },
      "id": "ecd607ea-3f89-47f6-b332-c072c17f0aa1",
      "name": "Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        864
      ]
    },
    {
      "parameters": {
        "content": "## No New Articles\n\nNo articles to send today.",
        "height": 80,
        "width": 150
      },
      "id": "76311455-79c1-485b-b766-99b05d898e7a",
      "name": "No Articles",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        1024
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-articles",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "56585147-0858-4366-adcb-ca38f917a1a1",
      "name": "Check Articles Exist1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        928,
        864
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama-3.1-8b-instant",
          "mode": "list",
          "cachedResultName": "LLAMA-3.1-8B-INSTANT"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional news summarizer. Create two versions of a summary for the following article:\n\n**Title:** {{ $json.title }}\n\n**Content:** {{ $json.content }}\n\nProvide:\n1. **Short Summary** (2-3 sentences, max 150 characters)\n2. **Long Summary** (1 detailed paragraph with key insights)\n\nFormat your response as JSON:\n{\n  \"short\": \"your short summary here\",\n  \"long\": \"your long summary here\"\n}"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        }
      },
      "id": "511be6e9-ef31-4139-94bf-eeb052ad4a80",
      "name": "OpenAI Summarize",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1168,
        464
      ],
      "credentials": {
        "openAiApi": {
          "id": "N5vJ0LopdjVmcf1A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.tagesschau.de/xml/rss2/",
        "options": {}
      },
      "id": "9f6202c0-8cf6-4e59-bb24-37703b69eb0c",
      "name": "Tagesschau",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        688,
        -64
      ]
    },
    {
      "parameters": {
        "url": "https://www.heise.de/rss/heise-atom.xml",
        "options": {}
      },
      "id": "ab7be0cf-f972-45d8-bb2f-9fcfe8b9869e",
      "name": "Heise",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        688,
        80
      ]
    },
    {
      "parameters": {
        "url": "https://www.spiegel.de/schlagzeilen/index.rss",
        "options": {}
      },
      "id": "d9f99769-1a90-49f9-91a0-dcb89f77ab7f",
      "name": "Spiegel",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        688,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-new",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            },
            {
              "id": "ebbfe7e6-a1cb-4cca-8ffc-b0576a9e0b9a",
              "leftValue": "={{ $json.link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff4fe58f-ec62-4817-a29d-48e665a6ad17",
      "name": "Article already in Database?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1360,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Tagesschau",
            "type": "main",
            "index": 0
          },
          {
            "node": "Heise",
            "type": "main",
            "index": 0
          },
          {
            "node": "Spiegel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Feeds": {
      "main": [
        [
          {
            "node": "Article already in Database?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if URL Exists": {
      "main": [
        []
      ]
    },
    "Insert New Article": {
      "main": [
        [
          {
            "node": "Count New Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Unprocessed Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unprocessed Articles": {
      "main": [
        [
          {
            "node": "Check Articles Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Articles Exist": {
      "main": [
        [
          {
            "node": "OpenAI Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summaries": {
      "main": [
        [
          {
            "node": "Update Article with Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Article with Summaries": {
      "main": [
        [
          {
            "node": "Count Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Day at 8 AM": {
      "main": [
        [
          {
            "node": "Fetch Unsent Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unsent Articles": {
      "main": [
        [
          {
            "node": "Check Articles Exist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Email": {
      "main": [
        [
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Digest": {
      "main": [
        [
          {
            "node": "Mark Articles as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Articles as Sent": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Articles Exist1": {
      "main": [
        [
          {
            "node": "Generate HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Summarize": {
      "main": [
        [
          {
            "node": "Parse Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tagesschau": {
      "main": [
        [
          {
            "node": "Merge Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heise": {
      "main": [
        [
          {
            "node": "Merge Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Spiegel": {
      "main": [
        [
          {
            "node": "Merge Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Article already in Database?": {
      "main": [
        [],
        [
          {
            "node": "Insert New Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cf2657f6-5a7e-43d2-aa49-f7c7a9fc5cc9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56e1ef545728c292b45ad0c9b5691999c33bf52f1b7ecb1ec20acfc797a3bfb8"
  },
  "id": "SQPE4i3yjIZ2T1s0gFwVj",
  "tags": []
}