workflows/agent.json
{
  "name": "Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Telegram Agent\n\n**Zweck:** Zentraler KI-Agent für alle Telegram-Interaktionen.\n\n### Eingänge\n1. **Telegram Trigger** - Direkte Nachrichten\n2. **Execute Workflow Trigger** - Sub-Workflow Aufrufe\n\n### Verfügbare Tools\n| Tool | Funktion |\n|------|----------|\n| 📰 News Curator | KI-kuratierte Artikelauswahl |\n| 🔍 Google News | Live News abrufen |\n| 🐦 X Posting | Tweet generieren |\n| 💼 LinkedIn Posting | LinkedIn Post generieren |\n| 📡 RSS Discovery | Neue Feeds finden |\n| 💬 Telegram | Nachricht senden |\n\n### Beispiel-Befehle\n- \"Kuratiere News zu Siemens\"\n- \"Erstelle einen X Post\"\n- \"LinkedIn Post im storytelling Stil\"\n- \"Finde RSS Feeds zu Tech\"\n- \"Was gibt es Neues zu KI?\"\n\n### Modell\nGPT-5.2 via OpenAI\n\n### Wichtig\nJEDE Antwort geht über das Telegram Tool!",
        "height": 520,
        "width": 320
      },
      "id": "agent-info-note",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3904,
        768
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Du bist ein News-Assistent auf Telegram.\n\nABLAUF BEI JEDER NACHRICHT:\n1. Sende sofort eine Telegram-Nachricht dass du arbeitest\n2. Erkenne was der User will (News kuratieren, Social Media Post, RSS Quellen finden)\n3. Führe die passenden Tools aus\n4. Sende das Ergebnis per Telegram an den User\n\nNEWS KURATIEREN (HAUPTFUNKTION):\n- Nutze das news_curator Tool — es versteht Natural Language\n- Übergib die User-Anfrage direkt als `request` Parameter\n- Beispiele für request:\n  * \"Newsletter Daily Digest\"\n  * \"News des Tages\"\n  * \"Siemens Solar\"\n  * \"Breaking News letzte 6 Stunden\"\n  * \"Executive Briefing Energie und Industrie\"\n  * \"Top 5 Artikel zu Cybersecurity\"\n  * \"Englische Artikel zu Semiconductor Chips\"\n- Der Curator entscheidet selbst über Zeitraum, Filter, Anzahl — du musst nichts parsen\n- Erkenne Auslöser wie: \"kuratiere news\", \"newsletter erstellen\", \"wichtigste news\", \"news zu thema X\", \"briefing\", \"was gibt es neues zu\"\n- Formatiere das Ergebnis schön für Telegram (Titel, Quelle, Link pro Artikel)\n\nNEWS-ABRUF (LIVE):\n- Für LIVE News von Google, nutze das Google RSS Tool\n- Formatiere die Ergebnisse übersichtlich mit Emojis\n- Sende per Telegram\n\nSOCIAL MEDIA POSTS (X + LINKEDIN):\n- Nutze das social_media_ghostwriter Tool für BEIDE Plattformen\n- Parameter:\n  * raw_content: Der News-Text / das Thema für den Post\n  * style: professional, storytelling, engagement, informative, provocative (default: professional)\n  * platform: \"linkedin\" oder \"x\" (default: linkedin)\n- Ablauf:\n  1. Falls der User ein Thema nennt aber keinen Artikel hat: Zuerst News kuratieren oder über RSS Tool holen\n  2. Den Content als raw_content + style + platform an das Ghostwriter Tool übergeben\n  3. Den generierten Post aus dem `response` Feld UNVERÄNDERT per Telegram senden\n- Erkenne Auslöser:\n  * LinkedIn: \"LinkedIn Post zu...\", \"erstelle LinkedIn Post\", \"Post für LinkedIn\"\n  * X/Twitter: \"X Post zu...\", \"Tweet erstellen\", \"Twitter Post\"\n- Wenn der User keine Plattform nennt, frag kurz nach\n\nRSS QUELLEN FINDEN:\n- Wenn der User neue RSS-Quellen/Feeds zu einem Thema sucht, nutze das rss_feed_discovery Tool\n- Gib das Thema oder die konkrete URL als message weiter\n- Formatiere die Ergebnisse für Telegram:\n  ✅ Name - URL (X Artikel)\n- Erkenne Auslöser wie: \"finde feeds\", \"suche quellen\", \"neue rss\", \"welche feeds gibt es zu\"\n\nREGELN:\n- JEDE Antwort MUSS über das Telegram Tool gesendet werden — ohne Telegram sieht der User nichts\n- chatId ist vorgesetzt, fülle nur 'message'\n- Wenn der User keinen Style angibt, nutze 'professional' als Default\n- Gib Posts vom Ghostwriter Tool immer 1:1 weiter, nicht umformulieren\n- Bei Curator: Formatiere die Artikel-Liste selbst schön für Telegram (Emoji + Titel + Quelle + Link)\n\nAM ENDE IMMER DIE ERGEBNISSE VIA TELEGRAM MIT DEM USER TEILEN!"
        }
      },
      "id": "875a1ba0-2651-484a-8527-954aac2421d4",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4544,
        608
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "47a7be01-d2a3-40e1-a475-c3fd64f08c75",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4544,
        784
      ],
      "credentials": {
        "openAiApi": {
          "id": "news-agent-openai",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "={{ $fromAI('message', 'Die formatierte Nachricht die an den User gesendet werden soll. Bei News: übersichtlich mit Emojis. Bei X/LinkedIn Posts: den generierten Post unverändert.', 'string') }}",
        "additionalFields": {}
      },
      "id": "6471141d-69d5-43d3-9dfa-d70972c31791",
      "name": "Telegram Tool",
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        4896,
        992
      ],
      "webhookId": "09a97143-dc61-46ea-9e39-66a3066999ce",
      "credentials": {
        "telegramApi": {
          "id": "news-agent-telegram",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input"
            },
            {
              "name": "telegram_chat_id"
            }
          ]
        }
      },
      "id": "594f4960-a13f-4f77-9546-9c1c732c9510",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        4336,
        608
      ]
    },
    {
      "parameters": {
        "description": "Call this tool to receive a validated list of RSS feeds for a given topic or URL.",
        "workflowId": {
          "__rl": true,
          "value": "kN9aFFAMemmCZtinbEC4b",
          "mode": "list",
          "cachedResultUrl": "/workflow/kN9aFFAMemmCZtinbEC4b",
          "cachedResultName": "UPDATER: RSS Feed Discovery"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', `topic or concrete rss feeds \n\ne.g. \"Automobilbranche\" \"spiegelonline\" \"irgendwas technisches\" `, 'string') }}"
          },
          "matchingColumns": [
            "message"
          ],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4592,
        992
      ],
      "id": "2ce070ef-5433-4136-b539-5c862d940947",
      "name": "Tool: RSS Feed Discovery"
    },
    {
      "parameters": {
        "description": "Kuratiert News aus der Datenbank basierend auf Use-Case und optionalem Thema. Nutze dieses Tool für intelligente News-Auswahlen wie Newsletter, Briefings oder thematische Deep-Dives. Das Tool wählt mit KI die besten Artikel aus der Datenbank aus.",
        "workflowId": {
          "__rl": true,
          "value": "7JZBLepEeQDOlUUJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/7JZBLepEeQDOlUUJ",
          "cachedResultName": "CURATOR: News Curator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('request', ``, 'string') }}"
          },
          "matchingColumns": [
            "request"
          ],
          "schema": [
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4752,
        992
      ],
      "id": "curator-tool-node",
      "name": "Tool: News Curator"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jmzMPebmVdBYKtLiHvpkc",
          "mode": "list",
          "cachedResultUrl": "/workflow/jmzMPebmVdBYKtLiHvpkc",
          "cachedResultName": "GHOSTWRITER: Social Media"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "raw_content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('raw_content', ``, 'string') }}",
            "style": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('style', ``, 'string') }}",
            "platform": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('platform', `\"x\" || \"linkedin\"`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "style",
              "displayName": "style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5056,
        992
      ],
      "id": "55c0a99b-6235-4dec-bd5a-28735572ed40",
      "name": "Call 'GHOSTWRITER: Social Media'"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        4336,
        448
      ],
      "id": "ccf01962-d638-47f8-a5d9-d958e87784d7",
      "name": "Telegram Trigger",
      "webhookId": "838d4825-185a-46ad-9b20-069d72c62eba",
      "credentials": {
        "telegramApi": {
          "id": "news-agent-telegram",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool only if the curator dosnt find any relevant articles in the database!",
        "workflowId": {
          "__rl": true,
          "value": "TAwPcGi3EepKcWth",
          "mode": "list",
          "cachedResultUrl": "/workflow/TAwPcGi3EepKcWth",
          "cachedResultName": "SCRAPER: Google News"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "search_keywords": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('search_keywords', ``, 'string') }}"
          },
          "matchingColumns": [
            "search_keywords"
          ],
          "schema": [
            {
              "id": "search_keywords",
              "displayName": "search_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5232,
        992
      ],
      "id": "6958c1a3-48c7-409b-a665-4ee76b0b95a9",
      "name": "Call 'SCRAPER: Google News'"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "input": "findest du neue feeds zum thema kochen? und schaue mal auf goolge zum Thema Siemens nach news und erstelle einen x post der das alles zusammenführt",
          "telegram_chat_id": "8407142561"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: RSS Feed Discovery": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: News Curator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'GHOSTWRITER: Social Media'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SCRAPER: Google News'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "433fe3d8-1776-4de8-9bb3-1ca1ac1830fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42727648df589eb8dbc79f92c7ed3d6dff6852d04ad63ae225b988104757d32d"
  },
  "id": "BNXo6bCpMYb64VluuZNSY",
  "tags": [
    {
      "updatedAt": "2026-02-15T11:07:28.202Z",
      "createdAt": "2026-02-15T11:07:28.202Z",
      "id": "cLLyuZC8cXMTqna1",
      "name": "agent"
    }
  ]
}