workflows/agent.json
{
  "id": "telegram-agent-workflow",
  "name": "Telegram Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Telegram Agent\n\n**Zweck:** Zentraler KI-Agent für alle Telegram-Interaktionen.\n\n### Eingänge\n1. **Telegram Trigger** - Direkte Nachrichten\n2. **Execute Workflow Trigger** - Sub-Workflow Aufrufe\n\n### Verfügbare Tools\n| Tool | Funktion |\n|------|----------|\n| 📰 News Curator | KI-kuratierte Artikelauswahl |\n| 🔍 Google News | Live News abrufen |\n| 🐦 X Posting | Tweet generieren |\n| 💼 LinkedIn Posting | LinkedIn Post generieren |\n| 📡 RSS Discovery | Neue Feeds finden |\n| 💬 Telegram | Nachricht senden |\n\n### Beispiel-Befehle\n- \"Kuratiere News zu Siemens\"\n- \"Erstelle einen X Post\"\n- \"LinkedIn Post im storytelling Stil\"\n- \"Finde RSS Feeds zu Tech\"\n- \"Was gibt es Neues zu KI?\"\n\n### Modell\nGPT-5.2 via OpenAI\n\n### Wichtig\nJEDE Antwort geht über das Telegram Tool!",
        "height": 520,
        "width": 320
      },
      "id": "agent-info-note",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3800,
        280
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "Du bist ein News-Assistent auf Telegram.\n\nABLAUF BEI JEDER NACHRICHT:\n1. Sende sofort eine Telegram-Nachricht dass du arbeitest\n2. Erkenne was der User will (News kuratieren, X Post, LinkedIn Post, RSS Quellen finden)\n3. Führe die passenden Tools aus\n4. Sende das Ergebnis per Telegram an den User\n\nNEWS KURATIEREN (HAUPTFUNKTION):\n- Nutze das news_curator Tool um intelligente News-Auswahlen zu erstellen\n- Use-Cases:\n  * daily_newsletter - Vielfältiger Mix für Newsletter\n  * topic_deep_dive - Fokus auf ein bestimmtes Thema\n  * breaking_news - Nur die aktuellsten wichtigen News\n  * social_media - Teilbare/interessante Stories\n  * executive_briefing - Business-relevante News\n- Parameter:\n  * usecase: Der gewünschte Use-Case (siehe oben)\n  * topic: Optional - Thema zum Filtern (z.B. \"Siemens\", \"KI\")\n  * max_articles: Anzahl der gewünschten Artikel (default: 10)\n  * days_back: Wie viele Tage zurückschauen (default: 1)\n  * language: Optional - \"de\" oder \"en\"\n- Erkenne Auslöser wie: \"kuratiere news\", \"newsletter erstellen\", \"wichtigste news\", \"news zu thema X\", \"briefing\", \"was gibt es neues zu\"\n- Formatiere das formatted_text Ergebnis schön für Telegram\n\nNEWS-ABRUF (LIVE):\n- Für LIVE News von Google, nutze das Google RSS Tool\n- Formatiere die Ergebnisse übersichtlich mit Emojis\n- Sende per Telegram\n\nX/TWITTER POST:\n- Zuerst News kuratieren oder über das RSS Tool holen\n- Die News als raw_content + gewünschten style an das X Posting Tool übergeben\n- Den generierten Post UNVERÄNDERT per Telegram senden\n\nLINKEDIN POST:\n- Zuerst News kuratieren oder über das RSS Tool holen\n- Die News als raw_content + gewünschten style an das LinkedIn Posting Tool übergeben\n- Den generierten Post UNVERÄNDERT per Telegram senden\n\nRSS QUELLEN FINDEN:\n- Wenn der User neue RSS-Quellen/Feeds zu einem Thema sucht, nutze das rss_feed_discovery Tool\n- Gib das Thema oder die konkrete URL als message weiter\n- Das Tool gibt ein JSON Array mit validierten Feeds zurueck (name, url, itemCount, status)\n- Formatiere die Ergebnisse fuer Telegram:\n  ✅ Name - URL (X Artikel)\n- Wenn keine Feeds gefunden: User informieren\n- Erkenne Ausloeser wie: \"finde feeds\", \"suche quellen\", \"neue rss\", \"welche feeds gibt es zu\"\n\nREGELN:\n- JEDE Antwort MUSS über das Telegram Tool gesendet werden — ohne Telegram sieht der User nichts\n- chatId ist vorgesetzt, fülle nur 'message'\n- Wenn der User keinen Style angibt, nutze 'professional' als Default\n- Gib Posts von X/LinkedIn Tools immer 1:1 weiter, nicht umformulieren\n- Bei Curator: Nutze das formatted_text aus dem Ergebnis direkt\n\nAM ENDE IMMER DIE ERGEBNISSE VIA TELEGRAM MIT DEM USER TEILEN!"
        }
      },
      "id": "875a1ba0-2651-484a-8527-954aac2421d4",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4544,
        608
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "47a7be01-d2a3-40e1-a475-c3fd64f08c75",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4544,
        784
      ],
      "credentials": {
        "openAiApi": {
          "id": "news-agent-openai",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "={{ $fromAI('message', 'Die formatierte Nachricht die an den User gesendet werden soll. Bei News: übersichtlich mit Emojis. Bei X/LinkedIn Posts: den generierten Post unverändert.', 'string') }}",
        "additionalFields": {}
      },
      "id": "6471141d-69d5-43d3-9dfa-d70972c31791",
      "name": "Telegram Tool",
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        4944,
        1328
      ],
      "webhookId": "09a97143-dc61-46ea-9e39-66a3066999ce",
      "credentials": {
        "telegramApi": {
          "id": "jL3MAmDNSYVw03ty",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TAwPcGi3EepKcWth",
          "mode": "list",
          "cachedResultUrl": "/workflow/TAwPcGi3EepKcWth",
          "cachedResultName": "Google News Scraper"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('topic', `Das Thema zu dem Google News RSS Ergebnisse abgerufen werden sollen, z.B. \"Siemens Quartalszahlen\" oder \"KI Regulierung EU\"`, 'string') }}"
          },
          "matchingColumns": [
            "topic"
          ],
          "schema": [
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5280,
        832
      ],
      "id": "faa4c29e-7a8a-4943-b8a8-48ebe9af6772",
      "name": "Tool: Google News Scraper"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input"
            },
            {
              "name": "telegram_chat_id"
            }
          ]
        }
      },
      "id": "594f4960-a13f-4f77-9546-9c1c732c9510",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        4336,
        608
      ]
    },
    {
      "parameters": {
        "description": "Generiert einen X/Twitter Post basierend auf News-Content. Nutze dieses Tool wenn der User einen X Post, Tweet oder Twitter Post will. Zuerst immer News per RSS holen, dann dieses Tool mit dem Content aufrufen.",
        "workflowId": {
          "__rl": true,
          "value": "jmzMPebmVdBYKtLiHvpkc",
          "mode": "list",
          "cachedResultUrl": "/workflow/jmzMPebmVdBYKtLiHvpkc",
          "cachedResultName": "GHOSTWRITER: X Posting"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "style": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('x_style', `Der gewünschte Ton des X Posts. Optionen: \"professional\", \"provocative\", \"informative\". Default: \"professional\"`, 'string') }}",
            "raw_content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('x_raw_content', `Der News-Content aus dem RSS Tool der in einen X Post umgewandelt werden soll. Übergib die komplette News-Zusammenfassung.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "style",
              "displayName": "style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4816,
        1488
      ],
      "id": "6ee804b0-93d3-47c9-ac6d-578e15e90a04",
      "name": "Tool: X Posting"
    },
    {
      "parameters": {
        "description": "Generiert einen LinkedIn Post basierend auf News-Content. Nutze dieses Tool wenn der User einen LinkedIn Post will. Zuerst immer News per RSS holen, dann dieses Tool mit dem Content aufrufen.",
        "workflowId": {
          "__rl": true,
          "value": "8KofFJBFS7WMl8eR",
          "mode": "list",
          "cachedResultUrl": "/workflow/8KofFJBFS7WMl8eR",
          "cachedResultName": "GHOSTWRITER: LinkedIn Posting"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "raw_content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('raw_content', `Der News-Content aus dem RSS Tool der in einen LinkedIn Post umgewandelt werden soll. Übergib die komplette News-Zusammenfassung.\n`, 'string') }}",
            "style": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('style', `Der gewünschte Ton des LinkedIn Posts. Optionen: \"professional\", \"storytelling\", \"engagement\", \"informative\", \"provocative\". Default: \"professional\"`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style",
              "displayName": "style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4704,
        1488
      ],
      "id": "02f6ea1e-3845-4fb6-935b-adbfab5fb281",
      "name": "Tool: LinkedIn Posting"
    },
    {
      "parameters": {
        "description": "Call this tool to receive a validated list of RSS feeds for a given topic or URL.",
        "workflowId": {
          "__rl": true,
          "value": "kN9aFFAMemmCZtinbEC4b",
          "mode": "list",
          "cachedResultUrl": "/workflow/kN9aFFAMemmCZtinbEC4b",
          "cachedResultName": "UPDATER: RSS Feed Discovery"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', `topic or concrete rss feeds \n\ne.g. \"Automobilbranche\" \"spiegelonline\" \"irgendwas technisches\" `, 'string') }}"
          },
          "matchingColumns": [
            "message"
          ],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4576,
        1488
      ],
      "id": "2ce070ef-5433-4136-b539-5c862d940947",
      "name": "Tool: RSS Feed Discovery"
    },
    {
      "parameters": {
        "description": "Kuratiert News aus der Datenbank basierend auf Use-Case und optionalem Thema. Nutze dieses Tool für intelligente News-Auswahlen wie Newsletter, Briefings oder thematische Deep-Dives. Das Tool wählt mit KI die besten Artikel aus der Datenbank aus.",
        "workflowId": {
          "__rl": true,
          "value": "news-curator-workflow",
          "mode": "list",
          "cachedResultUrl": "/workflow/news-curator-workflow",
          "cachedResultName": "CURATOR: News Curator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usecase": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('curator_usecase', `Der Use-Case für die Kuration. Optionen: \"daily_newsletter\" (vielfältiger Mix), \"topic_deep_dive\" (Fokus auf ein Thema), \"breaking_news\" (nur aktuelle News), \"social_media\" (teilbare Stories), \"executive_briefing\" (Business-News). Default: \"daily_newsletter\"`, 'string') }}",
            "topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('curator_topic', `Optionales Thema zum Filtern, z.B. \"Siemens\", \"KI\", \"Energie\". Leer lassen für alle Themen.`, 'string') }}",
            "max_articles": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('curator_max_articles', `Maximale Anzahl der zu kuratierenden Artikel. Default: 10`, 'number') }}",
            "days_back": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('curator_days_back', `Wie viele Tage zurückschauen. Default: 1 (nur heute)`, 'number') }}",
            "language": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('curator_language', `Sprachfilter: \"de\" für Deutsch, \"en\" für Englisch, leer für alle Sprachen.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usecase",
              "displayName": "usecase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "max_articles",
              "displayName": "max_articles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "days_back",
              "displayName": "days_back",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4928,
        1488
      ],
      "id": "curator-tool-node",
      "name": "Tool: News Curator"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "bfc5ba74-4a2b-482c-b491-5ed515428287",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        4096,
        400
      ],
      "webhookId": "telegram-webhook-id",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "jL3MAmDNSYVw03ty",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse-input",
              "name": "input",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "parse-chat-id",
              "name": "telegram_chat_id",
              "value": "={{ $json.message.chat.id + \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Parse Telegram Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4336,
        400
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "input": "findest du neue feeds zum thema kochen?",
          "telegram_chat_id": "8407142561"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Google News Scraper": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: X Posting": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: LinkedIn Posting": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: RSS Feed Discovery": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: News Curator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Telegram Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bdd9b434-1582-4ea8-98e4-29c98c812cad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee048f937b376be2929fba64aa732ef79995f4552c3c3f966dab7d6eb6ab8716"
  },
  "id": "BNXo6bCpMYb64VluuZNSY",
  "tags": [
    {
      "updatedAt": "2026-02-15T11:07:28.202Z",
      "createdAt": "2026-02-15T11:07:28.202Z",
      "id": "cLLyuZC8cXMTqna1",
      "name": "agent"
    }
  ]
}
