workflows/analyze-articles.json
{
  "name": "article_analysis",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "article"
            },
            {
              "name": "filters"
            }
          ]
        }
      },
      "id": "2af798ac-9c25-49a5-b356-103a7abcc79a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        -80
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "messages": {
          "values": [
            {
              "content": "Du bist ein Nachrichten-Analyst. Analysiere den Artikel und gib AUSSCHLIESSLICH ein JSON Objekt zurueck. Kein Text, kein Markdown, keine Codeblocks.\n\nJSON Format:\n{\n  \"title\": \"Titel des Artikels\",\n  \"summary\": \"2-3 Saetze Zusammenfassung\",\n  \"sentiment\": \"positive\" | \"negative\" | \"neutral\",\n  \"sentimentScore\": -1.0 bis 1.0,\n  \"priority\": \"high\" | \"medium\" | \"low\",\n  \"priorityReason\": \"Warum diese Prioritaet\",\n  \"topics\": [\"Thema1\", \"Thema2\"],\n  \"keywords\": [\"Keyword1\", \"Keyword2\", \"Keyword3\"],\n  \"companies\": [\"Firma1\", \"Firma2\"],\n  \"persons\": [\"Person1\", \"Person2\"],\n  \"regions\": [\"Region1\", \"Land1\"],\n  \"language\": \"de\" | \"en\" | \"other\",\n  \"category\": \"politics\" | \"business\" | \"tech\" | \"science\" | \"sports\" | \"entertainment\" | \"health\" | \"other\",\n  \"relevanceMatch\": []\n}\n\nRegeln fuer priority:\n- high: Breaking News, grosse Marktbewegungen, regulatorische Aenderungen, Krisen, Top-Unternehmen betroffen\n- medium: Branchentrends, Personalwechsel, Produktlaunches, relevante Studien\n- low: Meinungsbeitraege, Randthemen, Wiederholungen bekannter Infos\n\nRegeln fuer sentiment:\n- positive: Wachstum, Erfolge, Innovationen, gute Quartalszahlen, Durchbrueche\n- negative: Verluste, Entlassungen, Skandale, Krisen, Rueckrufe, Klagen\n- neutral: Sachberichte, Ankuendigungen ohne klare Wertung\n\nRegeln fuer relevanceMatch:\n- Wenn 'filters' uebergeben wurde: pruefe ob der Artikel zu den Filtern passt\n- Trage jeden matchenden Filter in relevanceMatch ein\n- Wenn kein Filter passt: leeres Array\n\nNur valides JSON zurueckgeben.",
              "role": "=system"
            },
            {
              "content": "=Artikel:\n{{ $json.article }}\n\nFilter (optional):\n{{ $json.filters || 'keine' }}",
              "role": "=user"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "maxTokens": 800,
          "temperature": 0.1
        }
      },
      "id": "41b65cea-69ba-4b26-b620-3da79087cd21",
      "name": "Artikel analysieren",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        352,
        -80
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZUFeCKTYUWusW7hp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-field",
              "name": "response",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5440b882-8f67-4ef2-b5b6-f7ed9503f08b",
      "name": "Return Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -80
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "article": "Volkswagen kuendigt massiven Stellenabbau an: Bis zu 20.000 Arbeitsplaetze sollen in den kommenden drei Jahren wegfallen. Konzernchef Oliver Blume begruendete den Schritt mit dem schwierigen Marktumfeld und der teuren Transformation zur Elektromobilitaet. Die IG Metall kuendigte harten Widerstand an. Besonders betroffen sind die Standorte Wolfsburg und Emden. Analysten reagierten gemischt - die VW-Aktie fiel um 3,2 Prozent.",
          "filters": "Volkswagen, Elektromobilitaet, Stellenabbau, Deutschland"
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Artikel analysieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artikel analysieren": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "13d1d25d-876e-4c68-9af4-192e6f128c66",
  "meta": {
    "instanceId": "ee048f937b376be2929fba64aa732ef79995f4552c3c3f966dab7d6eb6ab8716"
  },
  "id": "AsscQmp47T8oWkB4O5C15",
  "tags": []
}