workflows/discover-rss-feeds.json
{
  "name": "rss_feed_discovery",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            }
          ]
        }
      },
      "id": "30fc18e7-e80a-4d80-9e2e-cdefa7897a4d",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3584,
        960
      ]
    },
    {
      "parameters": {
        "name": "validate_rss_feed",
        "description": "Prueft ob eine RSS-Feed-URL erreichbar und gueltig ist. Gib die vollstaendige URL als 'url' Parameter. Gibt zurueck: VALID (mit Name und Artikelanzahl), NOT_RSS oder UNREACHABLE.",
        "workflowId": {
          "__rl": true,
          "value": "rD_S2_zWqydJCyeTB2MjS",
          "mode": "list",
          "cachedResultUrl": "/workflow/rD_S2_zWqydJCyeTB2MjS",
          "cachedResultName": "RSS Feed Validator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', ``, 'string') }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "947b9cc8-1c52-41b2-8536-127b83d91823",
      "name": "RSS Feed Validator",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4016,
        1184
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-field",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "95c9c148-6645-4b4a-9607-8e464817638e",
      "name": "Return Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4176,
        960
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3872,
        1184
      ],
      "id": "4aeebe30-caa9-4576-98b4-d5e2b53bd887",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZUFeCKTYUWusW7hp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=Du bist der News Agent Updater - ein intelligenter Assistent der RSS-Quellen verwaltet.\n\nDeine Aufgaben:\n1. SEARCH: Nutze Web Search um die 3-4 besten RSS-Feeds zum Thema zu finden. Eine Suche reicht. Bevorzuge bekannte, etablierte Quellen bei denen ein RSS-Feed wahrscheinlich ist.\n\n2. CHECK: Pruefe maximal 4 Feeds mit dem validate_rss_feed Tool. Gib die URL als 'url' Parameter. Wenn ein Feed UNREACHABLE ist, probiere EINEN alternativen Pfad (/feed oder /rss.xml). Nicht mehr.\n\n3. OUTPUT: Antworte AUSSCHLIESSLICH mit einem JSON Array der validierten Feeds. Kein Text davor, kein Text danach, kein Markdown, keine Codeblocks. Wenn der User nach einer konkreten URL gefragt hat, gib auch diese im Array zurueck (mit dem jeweiligen Status).\n\nJSON Format:\n[\n  {\n    \"name\": \"Feed Name\",\n    \"url\": \"https://example.com/feed\",\n    \"itemCount\": 42,\n    \"status\": \"VALID\"\n  }\n]\n\nWenn der User eine konkrete URL geprueft haben will:\n[\n  {\n    \"name\": \"Feed Name\",\n    \"url\": \"https://example.com/feed\",\n    \"itemCount\": 0,\n    \"status\": \"UNREACHABLE\"\n  }\n]\n\nRegeln:\n- Max 1 Web Search, max 4 Feed-Checks\n- Bei Themen-Suche: NUR Feeds mit Status VALID ins Array\n- Bei konkreter URL vom User: immer zurueckgeben, egal welcher Status\n- IMMER valides JSON Array, nichts anderes\n- Leeres Array [] wenn nichts gefunden"
        }
      },
      "id": "31d2ba83-9807-4f38-8c48-27bfb4cdb47a",
      "name": "rss_feed_discovery_agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3872,
        960
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "message": "Automobil branche",
          "userId": null
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "rss_feed_discovery_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Validator": {
      "ai_tool": [
        [
          {
            "node": "rss_feed_discovery_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "rss_feed_discovery_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "rss_feed_discovery_agent": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8c51bf9f-74cc-4eb7-86e7-049a7a537f78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee048f937b376be2929fba64aa732ef79995f4552c3c3f966dab7d6eb6ab8716"
  },
  "id": "kN9aFFAMemmCZtinbEC4b",
  "tags": []
}