workflows/input.json
{
  "name": "Telegram AI Bot (GPT-4o-mini)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "c433a066-fb05-43ec-9c58-edae5b9d82d6",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        320,
        -64
      ],
      "webhookId": "telegram-webhook-id",
      "credentials": {
        "telegramApi": {
          "id": "jL3MAmDNSYVw03ty",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.message.text }}",
              "role": "=user"
            }
          ]
        },
        "options": {
          "maxTokens": 1000,
          "temperature": 0.7
        }
      },
      "id": "c87cd1bf-51bc-4025-bbc0-19cabbde92c2",
      "name": "OpenAI GPT-4o-mini1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        624,
        -64
      ],
      "credentials": {
        "openAiApi": {
          "id": "BbqtwFqvDDf3jWGr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ String($('Telegram Trigger1').item.json.message.chat.id) }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "1d4b1353-34f2-4092-bd05-cf8715334574",
      "name": "Telegram Antwort1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        -64
      ],
      "webhookId": "40d11a25-67c3-4a0d-97b9-22e9c9323ae4",
      "credentials": {
        "telegramApi": {
          "id": "jL3MAmDNSYVw03ty",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4o-mini1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini1": {
      "main": [
        [
          {
            "node": "Telegram Antwort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1b916994-5640-427b-adc5-115a81a402e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee048f937b376be2929fba64aa732ef79995f4552c3c3f966dab7d6eb6ab8716"
  },
  "id": "BNXo6bCpMYb64VluuZNSY",
  "tags": []
}