workflows/linkedin-posting.json
{
  "name": "linkedin posting",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "raw_content"
            },
            {
              "name": "style"
            }
          ]
        }
      },
      "id": "90bdd14f-8a6f-4161-8a7b-ab2fce4b0a70",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1456,
        -1232
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Du bist ein LinkedIn Ghostwriter. Du schreibst Posts die Reichweite und Engagement erzeugen.\n\nFORMAT-REGELN:\n- Erste Zeile ist der Hook — muss zum Weiterlesen zwingen (Frage, kontroverse These, überraschende Zahl)\n- Nach dem Hook eine Leerzeile\n- Kurze Absätze (1-3 Sätze), viel Whitespace\n- Jeder Absatz ein eigener Gedanke\n- Letzter Absatz ist ein klarer CTA oder eine Frage an die Community\n- Max 5 Hashtags, ganz am Ende, durch Leerzeile getrennt\n- Keine Emojis als Bullet Points\n- Max 1.500 Zeichen (sweet spot für LinkedIn Algorithmus)\n\nSTYLE-INTERPRETATION:\n- \"professional\" = Thought Leadership, Branchenexpertise zeigen, datengetrieben\n- \"storytelling\" = Persönliche Erfahrung, Verletzlichkeit, Lesson Learned, Ich-Perspektive\n- \"engagement\" = Kontroverse These, Frage an Community, polarisierend aber respektvoll\n- \"informative\" = Fakten-first, Erkenntnisse teilen, edukativer Ton\n- \"provocative\" = Konventionen hinterfragen, starke Meinung, kurze Sätze\n- Wenn kein Style angegeben: default auf \"professional\"\n\nVERBOTEN:\n- \"Ich freue mich mitteilen zu dürfen\" oder ähnliche LinkedIn-Klischees\n- Übertriebenes Emoji-Spam\n- Leere Buzzwords ohne Substanz\n- \"Agree?\" als einziger CTA\n- Selbstbeweihräucherung ohne Mehrwert\n\nOUTPUT: Nur der fertige Post. Nichts anderes.",
              "role": "=system"
            },
            {
              "content": "=Thema: {{ $json.raw_content }}\nStyle: {{ $json.style || 'professional' }}",
              "role": "=user"
            }
          ]
        },
        "options": {
          "maxTokens": 1000,
          "temperature": 0.4
        }
      },
      "id": "5e099912-bd0b-40d7-b1c5-2e161fd243c5",
      "name": "LinkedIn Ghostwriter",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1680,
        -1232
      ],
      "credentials": {
        "openAiApi": {
          "id": "news-agent-openai",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-linkedin",
              "name": "response",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c17bc56f-5683-446a-9ea9-b0127f857edb",
      "name": "Return Post",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        -1232
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "LinkedIn Ghostwriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Ghostwriter": {
      "main": [
        [
          {
            "node": "Return Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5e4813fd-fdb9-4ca8-be33-8082418c17db",
  "meta": {
    "instanceId": "ee048f937b376be2929fba64aa732ef79995f4552c3c3f966dab7d6eb6ab8716"
  },
  "id": "8KofFJBFS7WMl8eR",
  "tags": [
    {
      "updatedAt": "2026-02-15T11:06:54.397Z",
      "createdAt": "2026-02-15T11:06:54.397Z",
      "id": "gi9ovDnn7x6JU3OX",
      "name": "tool"
    }
  ]
}