workflows/scrape-rss-feeds.json
{
  "id": "jBs4v5XzeetXiWlr",
  "name": "SCRAPER: RSS Feeds",
  "nodes": [
    {
      "parameters": {
        "content": "## SCRAPER: RSS Feeds\n\n**Zweck:** Holt Artikel von RSS/Atom Feeds aus der DB.\n\n### Ablauf\n1. Enabled Feeds aus `rss_sources` Tabelle laden\n2. Pro Feed: RSS/Atom XML abrufen (via Loop)\n3. Format erkennen (RSS 2.0 / Atom)\n4. Items extrahieren, max 20 pro Feed\n5. Artikel formatieren für Pipeline\n6. Feed-Stats aktualisieren\n\n### Trigger\n- ⏰ Schedule: Alle 30 Min\n- 🔗 Webhook: POST /scrape-rss-feeds\n\n### Output\n```json\n{\n  url, title, content,\n  source, source_type: \"rss\",\n  published_at, language, category\n}\n```\n\n### DB Tabelle\n`rss_sources` - Feed-URLs verwalten\n\n### Unterstützte Formate\n- RSS 2.0 (rss.channel.item)\n- Atom (feed.entry)\n\n### Fix 2026-02-15\nAdded SplitInBatches loop to process\none feed at a time (20 articles each).",
        "height": 580,
        "width": 320
      },
      "id": "info-note",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-rss-feeds",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ],
      "webhookId": "scrape-rss-feeds-webhook"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, url, language, category FROM rss_sources WHERE enabled = TRUE ORDER BY last_fetched ASC NULLS FIRST LIMIT 20",
        "options": {}
      },
      "id": "fetch-feeds",
      "name": "Fetch Enabled Feeds",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        240,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-feeds",
      "name": "Loop Feeds",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        96
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "fetch-rss",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        96
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "parse-xml",
      "name": "Parse XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        960,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// RSS oder Atom Feed Items extrahieren\n// Feed data comes from the current Loop batch (1 feed per iteration)\nconst data = $input.first().json;\nconst feedData = $('Loop Feeds').first()?.json || {};\n\nlet items = [];\n\n// RSS 2.0\nif (data.rss && data.rss.channel && data.rss.channel.item) {\n  items = Array.isArray(data.rss.channel.item) ? data.rss.channel.item : [data.rss.channel.item];\n}\n// Atom\nelse if (data.feed && data.feed.entry) {\n  items = Array.isArray(data.feed.entry) ? data.feed.entry : [data.feed.entry];\n}\n\nif (items.length === 0) {\n  return [];\n}\n\n// Limit auf 20 Artikel pro Feed\nitems = items.slice(0, 20);\n\nreturn items.map(item => {\n  let title, link, pubDate, description;\n  \n  // RSS Format\n  if (item.title && typeof item.title === 'string') {\n    title = item.title;\n    link = item.link || '';\n    pubDate = item.pubDate || item.published || '';\n    description = item.description || item.content || item['content:encoded'] || '';\n  }\n  // Atom Format\n  else if (item.title && item.title._) {\n    title = item.title._;\n    link = item.link && item.link.href ? item.link.href : (item.id || '');\n    pubDate = item.updated || item.published || '';\n    description = item.summary ? (item.summary._ || item.summary) : (item.content ? (item.content._ || item.content) : '');\n  }\n  // Fallback for other formats\n  else {\n    title = typeof item.title === 'object' ? (item.title._ || item.title['#text'] || JSON.stringify(item.title)) : (item.title || 'Unbekannter Titel');\n    link = typeof item.link === 'object' ? (item.link.href || item.link['@_href'] || '') : (item.link || '');\n    pubDate = item.pubDate || item.published || item.updated || '';\n    description = item.description || item.summary || item.content || '';\n  }\n  \n  // Content extrahieren (HTML Tags entfernen)\n  let content = '';\n  if (typeof description === 'string') {\n    content = description.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  } else if (description && description._) {\n    content = description._.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  }\n  \n  return {\n    json: {\n      title: title || 'Unbekannter Titel',\n      link: link,\n      pubDate: pubDate,\n      description: description,\n      content: content,\n      feedData: feedData\n    }\n  };\n});"
      },
      "id": "extract-items",
      "name": "Extract Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Article formatieren für DB Insert\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const feedData = data.feedData || {};\n  \n  let pubDate = null;\n  if (data.pubDate) {\n    try {\n      pubDate = new Date(data.pubDate).toISOString();\n    } catch(e) {\n      pubDate = null;\n    }\n  }\n  \n  if (data.link) {\n    results.push({\n      json: {\n        url: data.link,\n        title: data.title || 'Unbekannter Titel',\n        content: data.content || '',\n        source: feedData.name || 'RSS Feed',\n        source_type: 'rss',\n        published_at: pubDate,\n        language: feedData.language || 'de',\n        category: feedData.category || 'general',\n        feed_id: feedData.id\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "format-article",
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rss_sources SET article_count = article_count + $2, last_fetched = NOW() WHERE id = $1",
        "options": {
          "queryReplacement": "={{ $('Loop Feeds').first().json.id }},={{ $input.all().length }}"
        }
      },
      "id": "update-feed-stats",
      "name": "Update Feed Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1680,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Collect ALL articles from Format Article across all loop iterations\nconst items = $('Format Article').all();\nconst articles = [];\n\nfor (const item of items) {\n  const articleData = item.json;\n  if (articleData && articleData.url) {\n    articles.push({\n      json: {\n        url: articleData.url,\n        title: articleData.title,\n        content: articleData.content,\n        source: articleData.source,\n        source_type: articleData.source_type,\n        published_at: articleData.published_at,\n        language: articleData.language,\n        category: articleData.category,\n        feed_id: articleData.feed_id\n      }\n    });\n  }\n}\n\nif (articles.length === 0) {\n  return [{ json: { _empty: true, message: 'No articles from RSS Feeds' } }];\n}\n\nreturn articles;"
      },
      "id": "return-articles",
      "name": "Return Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enabled Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enabled Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enabled Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Enabled Feeds": {
      "main": [
        [
          {
            "node": "Loop Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Feeds": {
      "main": [
        [
          {
            "node": "Return Articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Parse XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XML": {
      "main": [
        [
          {
            "node": "Extract Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Items": {
      "main": [
        [
          {
            "node": "Format Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article": {
      "main": [
        [
          {
            "node": "Update Feed Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Feed Stats": {
      "main": [
        [
          {
            "node": "Loop Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "new-rss-feeds-scraper",
  "meta": {
    "instanceId": "ee048f937b376be2929fba64aa732ef79995f4552c3c3f966dab7d6eb6ab8716"
  },
  "id": "jBs4v5XzeetXiWlr",
  "tags": [
    {
      "id": "scraper-tag",
      "name": "scraper"
    }
  ]
}
