workflows/SCRAPER_ Google News.json
{
  "name": "SCRAPER: Google News",
  "nodes": [
    {
      "parameters": {
        "content": "## SCRAPER: Google News\n\n**Zweck:** Holt News von Google News RSS basierend auf Suchbegriffen aus der DB.\n\n### Ablauf\n1. Enabled Queries aus `search_queries` Tabelle laden\n2. Pro Query: Google News RSS abrufen\n3. XML parsen, Items extrahieren\n4. Max 15 Artikel pro Query\n5. Artikel formatieren für Pipeline\n6. Query-Stats aktualisieren\n\n### Trigger\n- Schedule: Alle 30 Min\n- Webhook: POST /scrape-google-news\n\n### Output\n```json\n{\n  url, title, content,\n  source, source_type: \"google_news\",\n  published_at, language, category\n}\n```\n\n### DB Tabelle\n`search_queries` - Suchbegriffe verwalten",
        "height": 480,
        "width": 320
      },
      "id": "b26dbffa-c227-46a1-b405-ad89d0af84b6",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        -288
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "abaf8502-3bb2-4e39-8aa4-35d628cb9baa",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1008,
        288
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-google-news",
        "options": {}
      },
      "id": "138b0e46-312c-4d57-a578-e1019f875d18",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1008,
        480
      ],
      "webhookId": "scrape-google-news-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, query, language, category FROM search_queries WHERE enabled = TRUE ORDER BY last_fetched ASC NULLS FIRST LIMIT 10",
        "options": {}
      },
      "id": "f342b5af-9685-4a07-9752-11a197c0699a",
      "name": "Fetch Enabled Queries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1264,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($json.query) }}&hl={{ $json.language || 'de' }}&gl={{ $json.language === 'en' ? 'US' : 'DE' }}&ceid={{ $json.language === 'en' ? 'US:en' : 'DE:de' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "a07c840e-e817-4cd8-bfa6-7ffbb71cfa2e",
      "name": "Fetch Google News RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        480
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8426b2b3-4aee-412a-8ac5-1f695a6ee93a",
      "name": "Parse XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1744,
        480
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel.item",
        "options": {}
      },
      "id": "b276d2b8-0e50-4817-ad3c-87eabdbfc9e5",
      "name": "Split Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1984,
        480
      ]
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "id": "9b07951c-af6a-4d75-ae43-4b37b980cbc0",
      "name": "Limit Per Query",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2224,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Article aus RSS Item + Query Info zusammenstellen — alle Items verarbeiten\nconst items = $input.all();\nconst allQueries = $('Fetch Enabled Queries').all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  // Query-Daten über pairedItem Index holen\n  const pairedIndex = item.pairedItem?.item ?? 0;\n  const queryData = allQueries[pairedIndex]?.json || {};\n\n  const title = data.title || 'Unbekannter Titel';\n  const link = data.link || '';\n  let pubDate = null;\n  if (data.pubDate) {\n    try {\n      pubDate = new Date(data.pubDate).toISOString();\n    } catch(e) {\n      pubDate = null;\n    }\n  }\n  const sourceName = data.source && data.source._ ? data.source._ : 'Google News';\n  const description = data.description || '';\n\n  // Content aus description extrahieren (HTML Tags entfernen)\n  let content = '';\n  if (typeof description === 'string') {\n    content = description.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  }\n\n  return {\n    json: {\n      url: link,\n      title: title,\n      content: content,\n      source: sourceName,\n      source_type: 'google_news',\n      published_at: pubDate,\n      language: queryData.language || 'de',\n      category: queryData.category || 'general',\n      query_name: queryData.name,\n      query_id: queryData.id\n    }\n  };\n});"
      },
      "id": "f45b1bf3-3ae1-4bb6-b25c-e1aa574bf324",
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE search_queries SET article_count = article_count + 1, last_fetched = NOW() WHERE id = $1",
        "options": {
          "queryReplacement": "={{ $json.query_id }}"
        }
      },
      "id": "6786cd08-5523-4dee-9efd-dad74bfd29f9",
      "name": "Update Query Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2704,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Collect all articles and return them for the Pipeline\nconst allFormatted = $('Format Article').all();\nconst articles = allFormatted\n  .filter(item => item.json.url)\n  .map(item => ({\n    json: {\n      url: item.json.url,\n      title: item.json.title,\n      content: item.json.content,\n      source: item.json.source,\n      source_type: item.json.source_type,\n      published_at: item.json.published_at,\n      language: item.json.language,\n      category: item.json.category\n    }\n  }));\n\nif (articles.length === 0) {\n  return [{ json: { _empty: true, message: 'No articles from Google News' } }];\n}\n\nreturn articles;"
      },
      "id": "c983dee7-a4b9-4472-897f-49b1f9f8439c",
      "name": "Return Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        480
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "search_keywords"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1008,
        640
      ],
      "id": "cec5f27a-a167-49f0-ba50-ff428a22a017",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enabled Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enabled Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Enabled Queries": {
      "main": [
        [
          {
            "node": "Fetch Google News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google News RSS": {
      "main": [
        [
          {
            "node": "Parse XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XML": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Limit Per Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Per Query": {
      "main": [
        [
          {
            "node": "Format Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article": {
      "main": [
        [
          {
            "node": "Update Query Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Query Stats": {
      "main": [
        [
          {
            "node": "Return Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fetch Enabled Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d1acfa0a-b5a9-482c-b4dc-04702fe58f64",
  "meta": {
    "instanceId": "42727648df589eb8dbc79f92c7ed3d6dff6852d04ad63ae225b988104757d32d"
  },
  "id": "TAwPcGi3EepKcWth",
  "tags": [
    {
      "updatedAt": "2026-02-15T19:06:23.198Z",
      "createdAt": "2026-02-15T19:06:23.198Z",
      "id": "scraper-tag",
      "name": "scraper"
    }
  ]
}