workflows/scrape-google-news.json
{
  "name": "SCRAPER: Google News",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-google-news",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ],
      "webhookId": "scrape-google-news-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, query, language, category FROM search_queries WHERE enabled = TRUE ORDER BY last_fetched ASC NULLS FIRST LIMIT 10",
        "options": {}
      },
      "id": "fetch-queries",
      "name": "Fetch Enabled Queries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        240,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($json.query) }}&hl={{ $json.language || 'de' }}&gl={{ $json.language === 'en' ? 'US' : 'DE' }}&ceid={{ $json.language === 'en' ? 'US:en' : 'DE:de' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "fetch-rss",
      "name": "Fetch Google News RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        96
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "parse-xml",
      "name": "Parse XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        720,
        96
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel.item",
        "options": {}
      },
      "id": "split-items",
      "name": "Split Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        960,
        96
      ]
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "id": "limit-results",
      "name": "Limit Per Query",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1200,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Article aus RSS Item + Query Info zusammenstellen\nconst item = $input.first().json;\nconst queryData = $('Fetch Enabled Queries').item($item)?.json || {};\n\nconst title = item.title || 'Unbekannter Titel';\nconst link = item.link || '';\nconst pubDate = item.pubDate ? new Date(item.pubDate).toISOString() : null;\nconst sourceName = item.source && item.source._ ? item.source._ : 'Google News';\nconst description = item.description || '';\n\n// Content aus description extrahieren (HTML Tags entfernen)\nlet content = description.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n\nreturn [{\n  json: {\n    url: link,\n    title: title,\n    content: content,\n    source: sourceName,\n    source_type: 'google_news',\n    published_at: pubDate,\n    language: queryData.language || 'de',\n    category: queryData.category || 'general',\n    query_name: queryData.name,\n    query_id: queryData.id\n  }\n}];"
      },
      "id": "format-article",
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE search_queries SET article_count = article_count + 1, last_fetched = NOW() WHERE id = $1",
        "options": {
          "queryReplacement": "={{ $json.query_id }}"
        }
      },
      "id": "update-query-stats",
      "name": "Update Query Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1680,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enabled Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enabled Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Enabled Queries": {
      "main": [
        [
          {
            "node": "Fetch Google News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google News RSS": {
      "main": [
        [
          {
            "node": "Parse XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XML": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Limit Per Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Per Query": {
      "main": [
        [
          {
            "node": "Format Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article": {
      "main": [
        [
          {
            "node": "Update Query Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "new-google-news-scraper",
  "meta": {
    "instanceId": "ee048f937b376be2929fba64aa732ef79995f4552c3c3f966dab7d6eb6ab8716"
  },
  "id": "TAwPcGi3EepKcWth",
  "tags": [
    {
      "id": "scraper-tag",
      "name": "scraper"
    }
  ]
}
