workflows/SCRAPER_ Scrape Pipeline.json
{
  "name": "SCRAPER: Scrape Pipeline",
  "nodes": [
    {
      "parameters": {
        "content": "## Scrape Pipeline (Orchestrator)\n\n**Zweck:** Koordiniert alle Scraper und verarbeitet Artikel.\n\n### Ablauf\n```\nTrigger\n   │\n   ├──► Google News Scraper (parallel)\n   │           │\n   ├──► RSS Feeds Scraper (parallel)\n   │           │\n   ├──► X API Scraper (parallel)\n   │           │\n   └───────────┴──► Merge All (wartet auf alle drei)\n                       │\n                       ▼\n               Filter Valid (URL vorhanden?)\n                       │\n                       ▼\n               Check Existing URLs (DB)\n                       │\n                       ▼\n               Filter New Only (Dedupe)\n                       │\n                       ▼\n               Normalize + Analyze\n                    (GPT-4o-mini)\n                       │\n                       ▼\n             Restore Image URLs\n               (re-join pre-GPT)\n                       │\n                       ▼\n                   DB Insert\n                 (19 Spalten)\n```\n\n### Trigger\n- Schedule: Alle 15 Min\n- Webhook: POST /scrape-pipeline\n\n### Sub-Workflows\n- SCRAPER: Google News\n- SCRAPER: RSS Feeds\n- SCRAPER: X API\n- Normalize Articles\n\n### DB Tabelle\n`articles` - Alle normalisierten Artikel\n\n### Dedupe\nNur neue Artikel werden an GPT gesendet!",
        "height": 560,
        "width": 320
      },
      "id": "9ac131a8-90e3-4a3b-b59f-b3f0784b50bd",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        192
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "c97cd738-ce27-4ed0-884b-daca5ca96864",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        976,
        752
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-pipeline",
        "options": {}
      },
      "id": "7fd4902d-71fa-431b-8f43-ebff1e271e90",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        976,
        944
      ],
      "webhookId": "scrape-pipeline-webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TAwPcGi3EepKcWth",
          "mode": "list",
          "cachedResultUrl": "/workflow/TAwPcGi3EepKcWth",
          "cachedResultName": "SCRAPER: Google News"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "31aa59a4-ffb6-422c-9125-40c099e87c44",
      "name": "Call Google News Scraper",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1264,
        704
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jBs4v5XzeetXiWlr",
          "mode": "list",
          "cachedResultUrl": "/workflow/jBs4v5XzeetXiWlr",
          "cachedResultName": "SCRAPER: RSS Feeds"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "f7e7b51a-c65f-4144-bfda-4a27648ef4dc",
      "name": "Call RSS Feeds Scraper",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1264,
        1168
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XApiScraperWorkflow",
          "mode": "list",
          "cachedResultUrl": "/workflow/XApiScraperWorkflow",
          "cachedResultName": "SCRAPER: X API"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "x-api-scraper-call-node",
      "name": "Call X API Scraper",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1264,
        1632
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "3ccb1688-f20b-45c8-92fa-e01303c3f7e5",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1488,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "// Leere Items und Fehler rausfiltern\nconst items = $input.all();\nconst valid = items.filter(item => {\n  const d = item.json;\n  if (!d || Object.keys(d).length === 0) return false;\n  if (d._empty) return false;\n  if (d.error) return false;\n  if (!d.url) return false;\n  return true;\n});\n\nif (valid.length === 0) {\n  return [{ json: { _empty: true, message: 'Keine Daten von Scrapern' } }];\n}\n\nreturn valid;"
      },
      "id": "21fb3832-b50d-4b8b-8501-0b950f5094bc",
      "name": "Filter Valid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        928
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT url FROM articles WHERE fetched_at >= NOW() - INTERVAL '7 days'",
        "options": {}
      },
      "id": "get-existing-urls-node",
      "name": "Get Existing URLs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1808,
        928
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get existing URLs from DB query result\nconst existingUrls = new Set(\n  $input.all()\n    .filter(item => item.json.url)\n    .map(item => item.json.url)\n);\n\n// Get original articles from Filter Valid node\nconst originalArticles = $('Filter Valid').all();\n\n// Filter out articles that already exist in DB\nconst newArticles = originalArticles.filter(item => {\n  const url = item.json.url;\n  if (!url) return false;\n  return !existingUrls.has(url);\n});\n\nif (newArticles.length === 0) {\n  return [{ json: { _empty: true, message: 'Alle Artikel bereits in DB vorhanden' } }];\n}\n\nconsole.log(`Filtered: ${originalArticles.length} total, ${existingUrls.size} existing, ${newArticles.length} new`);\n\nreturn newArticles;"
      },
      "id": "filter-new-only-node",
      "name": "Filter New Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        928
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6AGSjWYEJDPHqgvJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/6AGSjWYEJDPHqgvJ",
          "cachedResultName": "Normalize Articles"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "raw_articles": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
            "filters": ""
          },
          "matchingColumns": [
            "raw_articles"
          ],
          "schema": [
            {
              "id": "raw_articles",
              "displayName": "raw_articles",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "filters",
              "displayName": "filters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "806bb4ab-d2f9-4cb0-8996-af56ef11fdf7",
      "name": "Normalize + Analyze",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2144,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "// Re-attach image_url from scrapers. image_url is lost at Merge All (schema\n// differences between scrapers) and at Normalize (GPT replaces items). We recover\n// from the RSS Feeds scraper output directly, which runs before the merge.\nconst rssItems = $('Call RSS Feeds Scraper').all();\nconst imageUrlByUrl = {};\nfor (const item of rssItems) {\n  const j = item.json;\n  if (j.url && (j.image_url != null && j.image_url !== '')) {\n    imageUrlByUrl[j.url] = j.image_url;\n  }\n}\n\nreturn $input.all().map(item => {\n  const d = item.json;\n  return {\n    json: {\n      ...d,\n      image_url: imageUrlByUrl[d.url] || d.image_url || null,\n    },\n  };\n});"
      },
      "id": "f7e8a1b2-c3d4-5e6f-7a8b-9c0d1e2f3a4b",
      "name": "Restore Image URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build a fully escaped SQL statement per item to avoid pg parameter protocol issues\nfunction sanitizeText(value) {\n  return String(value ?? '')\n    // PostgreSQL rejects NUL bytes in text values and query payloads\n    .replace(/\\u0000/g, '')\n    // Remove other control chars except tab/newline/carriage return\n    .replace(/[\\u0001-\\u0008\\u000B\\u000C\\u000E-\\u001F\\u007F]/g, ' ')\n    .trim();\n}\n\nfunction sqlString(value) {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  const escaped = sanitizeText(value)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/'/g, \"''\");\n  return `'${escaped}'`;\n}\n\nfunction sqlNumber(value) {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  const num = Number(value);\n  return Number.isFinite(num) ? String(num) : 'NULL';\n}\n\nfunction sqlTimestamp(value) {\n  if (!value) return 'NULL';\n  return `${sqlString(value)}::timestamp`;\n}\n\nfunction sqlTextArray(arr) {\n  if (!Array.isArray(arr) || arr.length === 0) return \"'{}'::text[]\";\n  const escaped = arr.map(v => {\n    const val = sanitizeText(v)\n      .replace(/\\\\/g, '\\\\\\\\')\n      .replace(/\"/g, '\\\\\"');\n    return `\"${val}\"`;\n  });\n  return `${sqlString(`{${escaped.join(',')}}`)}::text[]`;\n}\n\nreturn $input.all().map(item => {\n  const d = item.json;\n\n  const insertSql = `INSERT INTO articles (url, title, content, source, source_type, published_at, summary, sentiment, sentiment_score, priority, priority_reason, topics, keywords, companies, persons, regions, language, category, relevance_match, image_url, processed, sent) VALUES (${sqlString(d.url)}, ${sqlString(d.title)}, ${sqlString(d.content)}, ${sqlString(d.source)}, ${sqlString(d.source_type)}, ${sqlTimestamp(d.published_at)}, ${sqlString(d.summary)}, ${sqlString(d.sentiment)}, ${sqlNumber(d.sentiment_score)}, ${sqlString(d.priority)}, ${sqlString(d.priority_reason)}, ${sqlTextArray(d.topics)}, ${sqlTextArray(d.keywords)}, ${sqlTextArray(d.companies)}, ${sqlTextArray(d.persons)}, ${sqlTextArray(d.regions)}, ${sqlString(d.language)}, ${sqlString(d.category)}, ${sqlTextArray(d.relevance_match)}, ${sqlString(d.image_url)}, TRUE, FALSE) ON CONFLICT (url) DO NOTHING`;\n\n  return {\n    json: {\n      ...d,\n      insert_sql: insertSql,\n    },\n  };\n});"
      },
      "id": "a1b2c3d4-prep-db-node-id",
      "name": "Prepare for DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        928
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.insert_sql }}",
        "options": {}
      },
      "id": "0267ecb5-763b-43a7-8ec2-8a63e3c2ce81",
      "name": "DB Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2592,
        928
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst total = items.length;\nconst dupes = items.filter(i => i.json.affectedRows === 0).length;\nconst failed = items.filter(i => i.json.error).length;\nconst inserted = total - dupes - failed;\n\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    total,\n    inserted,\n    duplicates: dupes,\n    failed,\n    message: `${inserted} neu, ${dupes} Duplikate, ${failed} Fehler`\n  }\n}];"
      },
      "id": "e9819b61-33cb-4e9f-ba06-f0aba1b0d014",
      "name": "Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        928
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        976,
        1120
      ],
      "id": "ea3ec70b-9886-4580-a9e7-77276a3776c2",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Call Google News Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call RSS Feeds Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call X API Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Google News Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call RSS Feeds Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call X API Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Google News Scraper": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call RSS Feeds Scraper": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call X API Scraper": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All": {
      "main": [
        [
          {
            "node": "Filter Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid": {
      "main": [
        [
          {
            "node": "Get Existing URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing URLs": {
      "main": [
        [
          {
            "node": "Filter New Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Only": {
      "main": [
        [
          {
            "node": "Normalize + Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Analyze": {
      "main": [
        [
          {
            "node": "Restore Image URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Image URLs": {
      "main": [
        [
          {
            "node": "Prepare for DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for DB": {
      "main": [
        [
          {
            "node": "DB Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Insert": {
      "main": [
        [
          {
            "node": "Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call RSS Feeds Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Google News Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call X API Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "01f01249-8e19-4e87-8844-57afc1e849e5",
  "meta": {
    "instanceId": "42727648df589eb8dbc79f92c7ed3d6dff6852d04ad63ae225b988104757d32d"
  },
  "id": "ba9OG35bDKJwzfPb",
  "tags": []
}