workflows/scrape-rss-feeds.json
{
  "name": "SCRAPER: RSS Feeds",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-rss-feeds",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ],
      "webhookId": "scrape-rss-feeds-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, url, language, category FROM rss_sources WHERE enabled = TRUE ORDER BY last_fetched ASC NULLS FIRST LIMIT 20",
        "options": {}
      },
      "id": "fetch-feeds",
      "name": "Fetch Enabled Feeds",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        240,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "fetch-rss",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        96
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "parse-xml",
      "name": "Parse XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        720,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// RSS oder Atom Feed Items extrahieren\nconst data = $input.first().json;\nconst feedData = $('Fetch Enabled Feeds').item($item)?.json || {};\n\nlet items = [];\n\n// RSS 2.0\nif (data.rss && data.rss.channel && data.rss.channel.item) {\n  items = Array.isArray(data.rss.channel.item) ? data.rss.channel.item : [data.rss.channel.item];\n}\n// Atom\nelse if (data.feed && data.feed.entry) {\n  items = Array.isArray(data.feed.entry) ? data.feed.entry : [data.feed.entry];\n}\n\nif (items.length === 0) {\n  return [];\n}\n\n// Limit auf 20 Artikel pro Feed\nitems = items.slice(0, 20);\n\nreturn items.map(item => {\n  let title, link, pubDate, description;\n  \n  // RSS Format\n  if (item.title && typeof item.title === 'string') {\n    title = item.title;\n    link = item.link || '';\n    pubDate = item.pubDate || item.published || '';\n    description = item.description || item.content || item['content:encoded'] || '';\n  }\n  // Atom Format\n  else if (item.title && item.title._) {\n    title = item.title._;\n    link = item.link && item.link.href ? item.link.href : (item.id || '');\n    pubDate = item.updated || item.published || '';\n    description = item.summary ? (item.summary._ || item.summary) : (item.content ? (item.content._ || item.content) : '');\n  }\n  \n  // Content extrahieren (HTML Tags entfernen)\n  let content = '';\n  if (typeof description === 'string') {\n    content = description.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  }\n  \n  return {\n    json: {\n      title: title || 'Unbekannter Titel',\n      link: link,\n      pubDate: pubDate,\n      description: description,\n      content: content,\n      feedData: feedData\n    }\n  };\n});"
      },
      "id": "extract-items",
      "name": "Extract Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Article formatieren für DB Insert\nconst item = $input.first().json;\nconst feedData = item.feedData || {};\n\nlet pubDate = null;\nif (item.pubDate) {\n  try {\n    pubDate = new Date(item.pubDate).toISOString();\n  } catch(e) {\n    pubDate = null;\n  }\n}\n\nreturn [{\n  json: {\n    url: item.link || '',\n    title: item.title || 'Unbekannter Titel',\n    content: item.content || '',\n    source: feedData.name || 'RSS Feed',\n    source_type: 'rss',\n    published_at: pubDate,\n    language: feedData.language || 'de',\n    category: feedData.category || 'general',\n    feed_id: feedData.id\n  }\n}];"
      },
      "id": "format-article",
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-url",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid",
      "name": "Filter Valid Articles",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rss_sources SET article_count = article_count + 1, last_fetched = NOW() WHERE id = $1",
        "options": {
          "queryReplacement": "={{ $json.feed_id }}"
        }
      },
      "id": "update-feed-stats",
      "name": "Update Feed Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1680,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enabled Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enabled Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Enabled Feeds": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Parse XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XML": {
      "main": [
        [
          {
            "node": "Extract Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Items": {
      "main": [
        [
          {
            "node": "Format Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article": {
      "main": [
        [
          {
            "node": "Filter Valid Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Articles": {
      "main": [
        [
          {
            "node": "Update Feed Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "new-rss-feeds-scraper",
  "meta": {
    "instanceId": "ee048f937b376be2929fba64aa732ef79995f4552c3c3f966dab7d6eb6ab8716"
  },
  "id": "jBs4v5XzeetXiWlr",
  "tags": [
    {
      "id": "scraper-tag",
      "name": "scraper"
    }
  ]
}

