workflows/scrape-google-news.json
{
  "id": "TAwPcGi3EepKcWth",
  "name": "SCRAPER: Google News",
  "nodes": [
    {
      "parameters": {
        "content": "## SCRAPER: Google News\n\n**Zweck:** Holt News von Google News RSS basierend auf Suchbegriffen aus der DB.\n\n### Ablauf\n1. Enabled Queries aus `search_queries` Tabelle laden\n2. Pro Query: Google News RSS abrufen (via Loop)\n3. XML parsen, Items extrahieren\n4. Max 15 Artikel pro Query\n5. Artikel formatieren für Pipeline\n6. Query-Stats aktualisieren\n\n### Trigger\n- ⏰ Schedule: Alle 30 Min\n- 🔗 Webhook: POST /scrape-google-news\n\n### Output\n```json\n{\n  url, title, content,\n  source, source_type: \"google_news\",\n  published_at, language, category\n}\n```\n\n### DB Tabelle\n`search_queries` - Suchbegriffe verwalten\n\n### Fix 2026-02-15\nAdded SplitInBatches loop to process\none query at a time (15 articles each).",
        "height": 540,
        "width": 320
      },
      "id": "info-note",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-google-news",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ],
      "webhookId": "scrape-google-news-webhook"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, query, language, category FROM search_queries WHERE enabled = TRUE ORDER BY last_fetched ASC NULLS FIRST LIMIT 10",
        "options": {}
      },
      "id": "fetch-queries",
      "name": "Fetch Enabled Queries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        240,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-queries",
      "name": "Loop Queries",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        96
      ]
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($json.query) }}&hl={{ $json.language || 'de' }}&gl={{ $json.language === 'en' ? 'US' : 'DE' }}&ceid={{ $json.language === 'en' ? 'US:en' : 'DE:de' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "fetch-rss",
      "name": "Fetch Google News RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        96
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "parse-xml",
      "name": "Parse XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        960,
        96
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel.item",
        "options": {}
      },
      "id": "split-items",
      "name": "Split Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        96
      ]
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "id": "limit-results",
      "name": "Limit Per Query",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1440,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Article aus RSS Item + Query Info zusammenstellen\n// Query data comes from the current Loop batch (1 query per iteration)\nconst items = $input.all();\nconst queryData = $('Loop Queries').first()?.json || {};\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const title = data.title || 'Unbekannter Titel';\n  const link = data.link || '';\n  const pubDate = data.pubDate ? new Date(data.pubDate).toISOString() : null;\n  const sourceName = data.source && data.source._ ? data.source._ : 'Google News';\n  const description = data.description || '';\n  \n  // Content aus description extrahieren (HTML Tags entfernen)\n  let content = description.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  \n  results.push({\n    json: {\n      url: link,\n      title: title,\n      content: content,\n      source: sourceName,\n      source_type: 'google_news',\n      published_at: pubDate,\n      language: queryData.language || 'de',\n      category: queryData.category || 'general',\n      query_name: queryData.name,\n      query_id: queryData.id\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "format-article",
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect ALL articles from Format Article across all loop iterations\nconst items = $('Format Article').all();\nconst articles = [];\n\nfor (const item of items) {\n  const articleData = item.json;\n  if (articleData && articleData.url) {\n    articles.push({\n      json: {\n        url: articleData.url,\n        title: articleData.title,\n        content: articleData.content,\n        source: articleData.source,\n        source_type: articleData.source_type,\n        published_at: articleData.published_at,\n        language: articleData.language,\n        category: articleData.category,\n        query_name: articleData.query_name,\n        query_id: articleData.query_id\n      }\n    });\n  }\n}\n\nif (articles.length === 0) {\n  return [{ json: { _empty: true, message: 'No articles from Google News' } }];\n}\n\nreturn articles;"
      },
      "id": "return-articles",
      "name": "Return Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE search_queries SET article_count = article_count + $2, last_fetched = NOW() WHERE id = $1",
        "options": {
          "queryReplacement": "={{ $('Loop Queries').first().json.id }},={{ $input.all().length }}"
        }
      },
      "id": "update-query-stats",
      "name": "Update Query Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1920,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enabled Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enabled Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enabled Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Enabled Queries": {
      "main": [
        [
          {
            "node": "Loop Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Queries": {
      "main": [
        [
          {
            "node": "Return Articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Google News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google News RSS": {
      "main": [
        [
          {
            "node": "Parse XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XML": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Limit Per Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Per Query": {
      "main": [
        [
          {
            "node": "Format Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article": {
      "main": [
        [
          {
            "node": "Update Query Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Query Stats": {
      "main": [
        [
          {
            "node": "Loop Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "new-google-news-scraper",
  "meta": {
    "instanceId": "ee048f937b376be2929fba64aa732ef79995f4552c3c3f966dab7d6eb6ab8716"
  },
  "id": "TAwPcGi3EepKcWth",
  "tags": [
    {
      "id": "scraper-tag",
      "name": "scraper"
    }
  ]
}
