workflows/scrape-feeds.json
{
  "name": "Scrape Feeds",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 15}]
        }
      },
      "id": "schedule",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 280]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-feeds",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 480],
      "webhookId": "scrape-feeds-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT url, name FROM rss_sources WHERE enabled = TRUE",
        "options": {}
      },
      "id": "get-feeds",
      "name": "Get Feeds",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [480, 380],
      "credentials": {
        "postgres": {"id": "news-agent-postgres", "name": "News Agent DB"}
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [700, 380]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "read-rss",
      "name": "Read RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [920, 380],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO articles (url, title, content, source, published_at, processed, sent) VALUES ($1, $2, $3, $4, $5, false, false) ON CONFLICT (url) DO NOTHING",
        "options": {
          "queryReplacement": "={{ $json.link }},={{ $json.title }},={{ $json.contentSnippet || '' }},={{ $json.creator || 'RSS' }},={{ $json.pubDate || null }}"
        }
      },
      "id": "insert",
      "name": "Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1140, 380],
      "credentials": {
        "postgres": {"id": "news-agent-postgres", "name": "News Agent DB"}
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every 15 Minutes": {"main": [[{"node": "Get Feeds", "type": "main", "index": 0}]]},
    "Webhook": {"main": [[{"node": "Get Feeds", "type": "main", "index": 0}]]},
    "Get Feeds": {"main": [[{"node": "Loop", "type": "main", "index": 0}]]},
    "Loop": {"main": [[], [{"node": "Read RSS", "type": "main", "index": 0}]]},
    "Read RSS": {"main": [[{"node": "Insert", "type": "main", "index": 0}]]},
    "Insert": {"main": [[{"node": "Loop", "type": "main", "index": 0}]]}
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "tags": []
}
