workflows/send-digest.json
{
  "name": "Send Email Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cf75be52-8fc6-47a8-b739-190f790a2264",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        280,
        280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-digest",
        "options": {}
      },
      "id": "webhook-send-digest",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        280,
        480
      ],
      "webhookId": "send-digest-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email FROM digest_recipients WHERE enabled = TRUE",
        "options": {}
      },
      "id": "fetch-recipients",
      "name": "Fetch Recipients",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        504,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-recipients",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-recipients-exist",
      "name": "Check Recipients Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        728,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect all recipient emails into a single item\nconst recipients = $input.all().map(item => item.json.email);\n\nreturn {\n  json: {\n    recipient_emails: recipients,\n    recipient_count: recipients.length\n  }\n};"
      },
      "id": "collect-recipients",
      "name": "Collect Recipient Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        952,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url, title, content, source, published_at, summary_short, summary_long, fetched_at FROM articles WHERE processed = TRUE AND sent = FALSE ORDER BY fetched_at DESC",
        "options": {}
      },
      "id": "c3c35eaa-91fb-470e-8cc2-fe88d08b2114",
      "name": "Fetch Unsent Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1176,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-articles",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "56585147-0858-4366-adcb-ca38f917a1a1",
      "name": "Check Articles Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML email from all articles\nconst articles = $input.all();\nconst recipientData = $('Collect Recipient Emails').first().json;\nconst date = new Date().toLocaleDateString('de-DE', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nconst articleIds = articles.map(item => item.json.id);\n\n// Siemens logo SVG as base64 data URI\nconst logoBase64 = 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuNCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEwMDBweCINCgkgaGVpZ2h0PSIxNTlweCIgdmlld0JveD0iMCAwIDEwMDAgMTU5IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAwIDE1OTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGcgaWQ9IkJvdW5kaW5nQm94Ij4NCgk8cG9seWdvbiBzdHlsZT0iZmlsbDpub25lOyIgcG9pbnRzPSIwLDE1OSAxMDAwLDE1OSAxMDAwLDAgMCwwIDAsMCAJIi8+DQo8L2c+DQo8ZyBpZD0iU0lFTUVOUyI+DQoJPGc+DQoJCTxwYXRoIHN0eWxlPSJmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiMwMDk5OTk7IiBkPSJNMy4wODYsMTUyLjUzN1YxMjIuNDYNCgkJCWMxNy4xMTksNS4zODgsMzIuMjY3LDguMDgyLDQ1LjQ0NCw4LjA4MmMxOC4xOTMsMCwyNy4yOTEtNC44MDksMjcuMjkxLTE0LjQyYzAtMy41ODMtMS4zMjQtNi41OTQtMy45NzgtOS4wMzINCgkJCWMtMi43MTQtMi41ODYtOS42NjUtNi4xNzEtMjAuODM1LTEwLjc2NGMtMjAuMDQyLTguMjQxLTMzLjExMS0xNS4yNjktMzkuMTktMjEuMDgyQzMuOTM5LDY3LjU3MSwwLDU3Ljg5NSwwLDQ2LjIwMg0KCQkJQzAsMzEuMTQ0LDUuNzQsMTkuNjY3LDE3LjIxMiwxMS43OEMyOC41NTcsMy45NjIsNDMuMzMsMC4wNTcsNjEuNTU0LDAuMDU3YzEwLjA0MSwwLDI0LjU3NCwxLjg0OCw0My41ODMsNS41NDl2MjguOTMzDQoJCQljLTE0LjE0NC01LjY1LTI3LjI3My04LjQ2OS0zOS40MDMtOC40NjljLTE3LjA4MSwwLTI1LjYyMSw0LjY5LTI1LjYyMSwxNC4wOTFjMCwzLjUxNCwxLjcyLDYuMzgsNS4xNjUsOC42MDINCgkJCWMyLjg2NSwxLjc5OCwxMC43NTksNS41OTYsMjMuNjY1LDExLjQwNmMxOC41ODMsOC4yNTMsMzAuOTU0LDE1LjQyNywzNy4xMTgsMjEuNTI5YzcuMzE0LDcuMjM4LDEwLjk3OCwxNi42MDQsMTAuOTc4LDI4LjA4NA0KCQkJYzAsMTYuNTAxLTcuMTc3LDI5LjA4OC0yMS41MjEsMzcuNzYxYy0xMS42MjEsNy4wMzMtMjYuNjksMTAuNTM1LTQ1LjE5OCwxMC41MzVDMzQuNjksMTU4LjA3OCwxOC45NDIsMTU2LjIzNywzLjA4NiwxNTIuNTM3DQoJCQlMMy4wODYsMTUyLjUzN3oiLz4NCgkJPHBvbHlnb24gc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAwOTk5OTsiIHBvaW50cz0iMTQxLjA2MywyLjcwNCAxNDEuMDYzLDIuNzA0IDE4My42MDMsMi43MDQgDQoJCQkxODMuNjAzLDE1NS4wMDEgMTQxLjA2MywxNTUuMDAxIAkJIi8+DQoJCTxwb2x5Z29uIHN0eWxlPSJmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiMwMDk5OTk7IiBwb2ludHM9IjIyMi42MTYsMTU1LjAwMSAyMjIuNjE2LDIuNzA0IDMzMS43MjEsMi43MDQgDQoJCQkzMzEuNzIxLDMwLjI1IDI2My42MTYsMzAuMjUgMjYzLjYxNiw2NC42MzkgMzIyLjg5OCw2NC42MzkgMzIyLjg5OCw4OS43NjUgMjYzLjYxNiw4OS43NjUgMjYzLjYxNiwxMjUuOTA2IDMzMy40NzYsMTI1LjkwNiANCgkJCTMzMy40NzYsMTU1LjAwMSAyMjIuNjE2LDE1NS4wMDEgCQkiLz4NCgkJPHBvbHlnb24gc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAwOTk5OTsiIHBvaW50cz0iMzYxLjI0NywxNTUuMDAxIDM2MS4yNDcsMi43MDQgNDE2LjQwMiwyLjcwNCANCgkJCTQ1NC43MjEsMTAwLjAxNSA0OTQuMDAxLDIuNzA0IDU0Ni4zOSwyLjcwNCA1NDYuMzksMTU1LjAwMSA1MDYuMDU2LDE1NS4wMDEgNTA2LjA1Niw0Ny4xNzEgNDYxLjM5MiwxNTYuNTQ3IDQzNS4wMjMsMTU2LjU0NyANCgkJCTM5MS4yMTksNDcuMTcxIDM5MS4yMTksMTU1LjAwMSAzNjEuMjQ3LDE1NS4wMDEgCQkiLz4NCgkJPHBvbHlnb24gc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAwOTk5OTsiIHBvaW50cz0iNTg1LjQxMSwxNTUuMDAxIDU4NS40MTEsMi43MDQgNjk0LjUxNCwyLjcwNCANCgkJCTY5NC41MTQsMzAuMjUgNjI2LjQxNSwzMC4yNSA2MjYuNDE1LDY0LjYzOSA2ODUuNjk1LDY0LjYzOSA2ODUuNjk1LDg5Ljc2NSA2MjYuNDE1LDg5Ljc2NSA2MjYuNDE1LDEyNS45MDYgNjk2LjI4LDEyNS45MDYgDQoJCQk2OTYuMjgsMTU1LjAwMSA1ODUuNDExLDE1NS4wMDEgCQkiLz4NCgkJPHBvbHlnb24gc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAwOTk5OTsiIHBvaW50cz0iNzI0LjI3MSwxNTUuMDAxIDcyNC4yNzEsMi43MDQgNzczLjU3NSwyLjcwNCANCgkJCTgyNS44ODMsMTA0LjY1NSA4MjUuODgzLDIuNzA0IDg1NS44NDcsMi43MDQgODU1Ljg0NywxNTUuMDAxIDgwNy45NDMsMTU1LjAwMSA3NTQuMjQ3LDUxLjY3OCA3NTQuMjQ3LDE1NS4wMDEgNzI0LjI3MSwxNTUuMDAxIAkJDQoJCQkiLz4NCgkJPHBhdGggc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAwOTk5OTsiIGQ9Ik04ODYuMDQ3LDE1Mi41MzdWMTIyLjQ2DQoJCQljMTYuOTc0LDUuMzg4LDMyLjEyLDguMDgyLDQ1LjQ1Miw4LjA4MmMxOC4xOTUsMCwyNy4yODItNC44MDksMjcuMjgyLTE0LjQyYzAtMy41ODMtMS4yODktNi41OTQtMy44NTQtOS4wMzINCgkJCWMtMi43MjgtMi41ODYtOS43MDgtNi4xNzEtMjAuOTQ1LTEwLjc2NGMtMTkuOTgyLTguMTczLTMzLjA2NC0xNS4xOTgtMzkuMTk5LTIxLjA4MmMtNy44NzUtNy42MDUtMTEuODA3LTE3LjMxNy0xMS44MDctMjkuMTQ2DQoJCQljMC0xNC45OTMsNS43MjYtMjYuNDMyLDE3LjIxLTM0LjMxOWMxMS4zMjgtNy44MTgsMjYuMTE4LTExLjcyMyw0NC4zNDQtMTEuNzIzYzEwLjI0NywwLDIzLjUyNSwxLjYyNywzOS44MSw0Ljg5NmwzLjc2MSwwLjY1Mw0KCQkJdjI4LjkzM2MtMTQuMTQ2LTUuNjUtMjcuMzEzLTguNDY5LTM5LjUwOC04LjQ2OWMtMTcuMDE2LDAtMjUuNTAzLDQuNjktMjUuNTAzLDE0LjA5MWMwLDMuNTE0LDEuNzExLDYuMzgsNS4xNDcsOC42MDINCgkJCWMyLjczLDEuNzI5LDEwLjY1Niw1LjUyOSwyMy43NzgsMTEuNDA2YzE4LjQ0Miw4LjI1MywzMC43ODcsMTUuNDI3LDM3LjAwNSwyMS41MjljNy4zMjUsNy4yMzgsMTAuOTgsMTYuNjA0LDEwLjk4LDI4LjA4NA0KCQkJYzAsMTYuNTAxLTcuMTM1LDI5LjA4OC0yMS40MDYsMzcuNzYxYy0xMS42ODksNy4wMzMtMjYuNzk2LDEwLjUzNS00NS4zMDEsMTAuNTM1DQoJCQlDOTE3LjY0NiwxNTguMDc4LDkwMS44OTEsMTU2LjIzNyw4ODYuMDQ3LDE1Mi41MzdMODg2LjA0NywxNTIuNTM3eiIvPg0KCTwvZz4NCjwvZz4NCjwvc3ZnPg0K';\n\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { font-family: Arial, Helvetica, sans-serif; line-height: 1.6; color: #66667e; max-width: 800px; margin: 0 auto; padding: 20px; background-color: #f3f3f0; }\n    .header { margin-bottom: 30px; padding-top: 30px; padding-bottom: 30px; border-bottom: 2px solid #009999; }\n    .logo { max-width: 200px; height: auto; margin-top: 20px; margin-bottom: 25px; }\n    h1 { color: #000028; font-weight: 700; margin: 0; padding-top: 10px; font-size: 1.5em; }\n    .article { margin-bottom: 30px; padding: 20px; background: #ebebee; border-left: 4px solid #009999; }\n    .article h2 { margin-top: 0; color: #000028; font-weight: 700; }\n    .article-meta { color: #9999a9; font-size: 0.9em; margin-bottom: 10px; }\n    .summary { margin: 15px 0; }\n    .summary-short { font-weight: 700; color: #000028; margin-bottom: 10px; }\n    .summary-long { color: #66667e; }\n    .read-more { display: inline-block; margin-top: 10px; color: #009999; text-decoration: none; font-weight: 600; }\n    .read-more:hover { color: #00c1b6; }\n    .footer { margin-top: 40px; padding-top: 20px; border-top: 1px solid #ccccd4; color: #9999a9; font-size: 0.85em; text-align: center; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <img src=\"${logoBase64}\" alt=\"Siemens\" class=\"logo\">\n    <h1>Dein News Digest - ${date}</h1>\n  </div>\n  <p>Hier sind deine ${articles.length} wichtigsten Nachrichten von heute:</p>\n`;\n\nfor (const item of articles) {\n  const article = item.json;\n  const publishedDate = article.published_at ? \n    new Date(article.published_at).toLocaleDateString('de-DE') : \n    'Datum unbekannt';\n  \n  html += `\n  <div class=\"article\">\n    <h2>${article.title}</h2>\n    <div class=\"article-meta\">\n      ${publishedDate} | ${article.source}\n    </div>\n    <div class=\"summary\">\n      <div class=\"summary-short\">${article.summary_short || 'Keine Kurzzusammenfassung verfügbar'}</div>\n      <div class=\"summary-long\">${article.summary_long || 'Keine ausführliche Zusammenfassung verfügbar'}</div>\n    </div>\n    <a href=\"${article.url}\" class=\"read-more\" target=\"_blank\">Weiterlesen</a>\n  </div>\n  `;\n}\n\nhtml += `\n  <div class=\"footer\">\n    <p>Dieser Digest wurde automatisch von deinem News AI Agent generiert.</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    html_content: html,\n    article_count: articles.length,\n    article_ids: articleIds,\n    recipient_emails: recipientData.recipient_emails,\n    recipient_count: recipientData.recipient_count,\n    subject: `News Digest - ${date} (${articles.length} Artikel)`\n  }\n};"
      },
      "id": "a64d1215-5bff-4e3b-903a-b09cb7cd8420",
      "name": "Generate HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1624,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Split recipients into individual items for loop\nconst emailData = $input.first().json;\nconst emails = emailData.recipient_emails || [];\n\n// Return one item per recipient\nreturn emails.map(email => ({\n  json: {\n    to_email: email,\n    html_content: emailData.html_content,\n    subject: emailData.subject,\n    article_ids: emailData.article_ids,\n    article_count: emailData.article_count\n  }\n}));"
      },
      "id": "split-recipients",
      "name": "Split Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1848,
        380
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@newsagent.local",
        "toEmail": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html_content }}",
        "options": {}
      },
      "id": "bbbaeb6e-f411-4a4e-a5af-d6296c755154",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2072,
        380
      ],
      "credentials": {
        "smtp": {
          "id": "news-agent-smtp",
          "name": "Email SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE articles SET sent = TRUE WHERE id::text = ANY(string_to_array($1, ','))",
        "options": {
          "queryReplacement": "={{ $('Generate HTML Email').item.json.article_ids.join(',') }}"
        }
      },
      "id": "d805a019-03c9-419d-92b3-22302d0c8b1e",
      "name": "Mark Articles Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2296,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Final success message\nconst emailData = $('Generate HTML Email').first().json;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    articles_sent: emailData.article_count,\n    recipients_count: emailData.recipient_count,\n    status: 'success',\n    message: `Successfully sent digest with ${emailData.article_count} articles to ${emailData.recipient_count} recipients`\n  }\n};"
      },
      "id": "ecd607ea-3f89-47f6-b332-c072c17f0aa1",
      "name": "Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        380
      ]
    },
    {
      "parameters": {
        "content": "## No Recipients\n\nNo enabled recipients found.\nAdd recipients via API:\nPOST /api/recipients",
        "height": 100,
        "width": 180
      },
      "id": "no-recipients-note",
      "name": "No Recipients Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        728,
        540
      ]
    },
    {
      "parameters": {
        "content": "## No New Articles\n\nNo unsent articles to include in digest.",
        "height": 80,
        "width": 180
      },
      "id": "76311455-79c1-485b-b766-99b05d898e7a",
      "name": "No Articles Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        540
      ]
    },
    {
      "parameters": {
        "content": "## Recipients from Database\n\nRecipients are managed via API:\n- POST /api/recipients (add)\n- GET /api/recipients (list)\n- DELETE /api/recipients/{id}\n- PATCH /api/recipients/{id}/toggle",
        "height": 140,
        "width": 280
      },
      "id": "recipients-note",
      "name": "Recipients Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        504,
        200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recipients": {
      "main": [
        [
          {
            "node": "Check Recipients Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recipients Exist": {
      "main": [
        [
          {
            "node": "Collect Recipient Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Recipient Emails": {
      "main": [
        [
          {
            "node": "Fetch Unsent Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unsent Articles": {
      "main": [
        [
          {
            "node": "Check Articles Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Articles Exist": {
      "main": [
        [
          {
            "node": "Generate HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Email": {
      "main": [
        [
          {
            "node": "Split Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Recipients": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Mark Articles Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Articles Sent": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
