workflows/send-digest.json
{
  "name": "Send Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cf75be52-8fc6-47a8-b739-190f790a2264",
      "name": "Every Day at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        280,
        280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-digest",
        "options": {}
      },
      "id": "webhook-send-digest",
      "name": "Webhook: Send Digest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        280,
        480
      ],
      "webhookId": "send-digest-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email FROM digest_recipients WHERE enabled = TRUE",
        "options": {}
      },
      "id": "fetch-recipients",
      "name": "Fetch Recipients",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        504,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-recipients",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-recipients-exist",
      "name": "Check Recipients Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        728,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect all recipient emails into a single item\nconst recipients = $input.all().map(item => item.json.email);\n\nreturn {\n  json: {\n    recipient_emails: recipients,\n    recipient_count: recipients.length\n  }\n};"
      },
      "id": "collect-recipients",
      "name": "Collect Recipient Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        952,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url, title, content, source, published_at, summary_short, summary_long, fetched_at FROM articles WHERE processed = TRUE AND sent = FALSE ORDER BY fetched_at DESC",
        "options": {}
      },
      "id": "c3c35eaa-91fb-470e-8cc2-fe88d08b2114",
      "name": "Fetch Unsent Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1176,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-articles",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "56585147-0858-4366-adcb-ca38f917a1a1",
      "name": "Check Articles Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML email from all articles\nconst articles = $input.all();\nconst recipientData = $('Collect Recipient Emails').first().json;\nconst date = new Date().toLocaleDateString('de-DE', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nconst articleIds = articles.map(item => item.json.id);\n\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 800px; margin: 0 auto; padding: 20px; }\n    h1 { color: #2c3e50; border-bottom: 3px solid #3498db; padding-bottom: 10px; }\n    .article { margin-bottom: 30px; padding: 20px; background: #f9f9f9; border-left: 4px solid #3498db; }\n    .article h2 { margin-top: 0; color: #2c3e50; }\n    .article-meta { color: #7f8c8d; font-size: 0.9em; margin-bottom: 10px; }\n    .summary { margin: 15px 0; }\n    .summary-short { font-weight: bold; color: #34495e; margin-bottom: 10px; }\n    .summary-long { color: #555; }\n    .read-more { display: inline-block; margin-top: 10px; color: #3498db; text-decoration: none; }\n    .footer { margin-top: 40px; padding-top: 20px; border-top: 1px solid #ddd; color: #7f8c8d; font-size: 0.85em; text-align: center; }\n  </style>\n</head>\n<body>\n  <h1>📰 Dein News Digest - ${date}</h1>\n  <p>Hier sind deine ${articles.length} wichtigsten Nachrichten von heute:</p>\n`;\n\nfor (const item of articles) {\n  const article = item.json;\n  const publishedDate = article.published_at ? \n    new Date(article.published_at).toLocaleDateString('de-DE') : \n    'Datum unbekannt';\n  \n  html += `\n  <div class=\"article\">\n    <h2>${article.title}</h2>\n    <div class=\"article-meta\">\n      📅 ${publishedDate} | 📰 ${article.source}\n    </div>\n    <div class=\"summary\">\n      <div class=\"summary-short\">⚡ ${article.summary_short || 'Keine Kurzzusammenfassung verfügbar'}</div>\n      <div class=\"summary-long\">${article.summary_long || 'Keine ausführliche Zusammenfassung verfügbar'}</div>\n    </div>\n    <a href=\"${article.url}\" class=\"read-more\" target=\"_blank\">→ Weiterlesen</a>\n  </div>\n  `;\n}\n\nhtml += `\n  <div class=\"footer\">\n    <p>Dieser Digest wurde automatisch von deinem News AI Agent generiert.</p>\n    <p>Powered by n8n + OpenAI</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    html_content: html,\n    article_count: articles.length,\n    article_ids: articleIds,\n    recipient_emails: recipientData.recipient_emails,\n    recipient_count: recipientData.recipient_count,\n    subject: `📰 News Digest - ${date} (${articles.length} Artikel)`\n  }\n};"
      },
      "id": "a64d1215-5bff-4e3b-903a-b09cb7cd8420",
      "name": "Generate HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1624,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Split recipients into individual items for loop\nconst emailData = $input.first().json;\nconst emails = emailData.recipient_emails || [];\n\n// Return one item per recipient\nreturn emails.map(email => ({\n  json: {\n    to_email: email,\n    html_content: emailData.html_content,\n    subject: emailData.subject,\n    article_ids: emailData.article_ids,\n    article_count: emailData.article_count\n  }\n}));"
      },
      "id": "split-recipients",
      "name": "Split Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1848,
        380
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@newsagent.local",
        "toEmail": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html_content }}",
        "options": {}
      },
      "id": "bbbaeb6e-f411-4a4e-a5af-d6296c755154",
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2072,
        380
      ],
      "credentials": {
        "smtp": {
          "id": "news-agent-smtp",
          "name": "Email SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE articles SET sent = TRUE WHERE id::text = ANY(string_to_array($1, ','))",
        "options": {
          "queryReplacement": "={{ $('Generate HTML Email').item.json.article_ids.join(',') }}"
        }
      },
      "id": "d805a019-03c9-419d-92b3-22302d0c8b1e",
      "name": "Mark Articles as Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2296,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Final success message\nconst emailData = $('Generate HTML Email').first().json;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    articles_sent: emailData.article_count,\n    recipients_count: emailData.recipient_count,\n    status: 'success',\n    message: `Successfully sent digest with ${emailData.article_count} articles to ${emailData.recipient_count} recipients`\n  }\n};"
      },
      "id": "ecd607ea-3f89-47f6-b332-c072c17f0aa1",
      "name": "Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        380
      ]
    },
    {
      "parameters": {
        "content": "## No Recipients\n\nNo enabled recipients found.\nAdd recipients via API:\nPOST /api/recipients",
        "height": 100,
        "width": 180
      },
      "id": "no-recipients-note",
      "name": "No Recipients Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        728,
        540
      ]
    },
    {
      "parameters": {
        "content": "## No New Articles\n\nNo unsent articles to include in digest.",
        "height": 80,
        "width": 180
      },
      "id": "76311455-79c1-485b-b766-99b05d898e7a",
      "name": "No Articles",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        540
      ]
    },
    {
      "parameters": {
        "content": "## Recipients from Database\n\nRecipients are managed via API:\n- POST /api/recipients (add)\n- GET /api/recipients (list)\n- DELETE /api/recipients/{id}\n- PATCH /api/recipients/{id}/toggle",
        "height": 140,
        "width": 280
      },
      "id": "recipients-note",
      "name": "Recipients Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        504,
        200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every Day at 8 AM": {
      "main": [
        [
          {
            "node": "Fetch Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Send Digest": {
      "main": [
        [
          {
            "node": "Fetch Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recipients": {
      "main": [
        [
          {
            "node": "Check Recipients Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recipients Exist": {
      "main": [
        [
          {
            "node": "Collect Recipient Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Recipient Emails": {
      "main": [
        [
          {
            "node": "Fetch Unsent Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unsent Articles": {
      "main": [
        [
          {
            "node": "Check Articles Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Articles Exist": {
      "main": [
        [
          {
            "node": "Generate HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Email": {
      "main": [
        [
          {
            "node": "Split Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Recipients": {
      "main": [
        [
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Digest": {
      "main": [
        [
          {
            "node": "Mark Articles as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Articles as Sent": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
