workflows/summarize-news.json
{
  "name": "news sumarizer",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "raw_news"
            }
          ]
        }
      },
      "id": "73a4d2da-5579-46b7-b624-1f350c6c60e5",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1264,
        -144
      ]
    },
    {
      "parameters": {
        "jsCode": "const content = $json.message.content;\n\n// Content kann String ODER bereits Object sein\nlet parsed;\ntry {\n  if (typeof content === 'object' && content !== null) {\n    parsed = content;\n  } else {\n    let raw = String(content).trim();\n    raw = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n    parsed = JSON.parse(raw);\n  }\n\n  if (!parsed.topics || !Array.isArray(parsed.topics)) throw new Error('Missing topics array');\n\n  for (const t of parsed.topics) {\n    t.topic = t.topic || 'Unbekannt';\n    t.summary = t.summary || '';\n    t.sources = Array.isArray(t.sources) ? t.sources : [];\n    t.article_count = typeof t.article_count === 'number' ? t.article_count : t.sources.length;\n  }\n\n  parsed.total_articles = typeof parsed.total_articles === 'number' ? parsed.total_articles : parsed.topics.reduce((sum, t) => sum + t.article_count, 0);\n  parsed.total_topics = parsed.topics.length;\n\n} catch (e) {\n  parsed = {\n    topics: [{ topic: 'Unsortiert', summary: String(content).substring(0, 500), sources: [], article_count: 0 }],\n    total_articles: 0,\n    total_topics: 1,\n    parse_error: e.message\n  };\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "3c3b0c48-09b5-4198-976a-8aa175484d7f",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-sorted",
              "name": "response",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8adba527-07ce-4184-bf9e-f8a7dd88adc9",
      "name": "Return Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        -144
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "messages": {
          "values": [
            {
              "content": "Du bist ein News-Analyst. Du bekommst eine Liste von Nachrichtenartikeln.\n\nDeine Aufgabe:\n1. Lies alle Artikel durch\n2. Gruppiere sie nach übergeordneten Themen\n3. Fasse jedes Thema zusammen\n4. Gib das Ergebnis als JSON zurück\n\nREGELN:\n- Jedes Thema bekommt eine Gruppe\n- Pro Thema: 2-4 Sätze Zusammenfassung\n- Alle relevanten Quellen pro Thema sammeln\n- Duplikate inhaltlich zusammenfassen\n- Sortiere nach Relevanz (meiste Artikel = erstes Thema)\n- Artikel die nirgends reinpassen: Thema \"Sonstiges\"\n\nJSON SCHEMA (STRIKT EINHALTEN):\n{\n  \"topics\": [\n    {\n      \"topic\": \"Themenname\",\n      \"summary\": \"2-4 Sätze Zusammenfassung\",\n      \"sources\": [\"Quelle 1\", \"Quelle 2\"],\n      \"article_count\": 3\n    }\n  ],\n  \"total_articles\": 12,\n  \"total_topics\": 4\n}\n\nAntworte AUSSCHLIESSLICH mit validem JSON. Kein Markdown, keine Backticks, kein Text drumherum. Kein Kommentar. Nur das JSON Objekt.\n\nWICHTIG: Fasse NUR zusammen was in den Artikeltiteln steht. Erfinde keine Details, Beispiele oder Hintergrundinformationen die nicht im Input vorkommen. Wenn ein Titel nur eine Überschrift ist, bleib auf Überschriften-Niveau.",
              "role": "=system"
            },
            {
              "content": "=Hier sind die Nachrichtenartikel:\n\n{{ $json.raw_news }}",
              "role": "=user"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "maxTokens": 2000,
          "temperature": 0.2
        }
      },
      "id": "f22052fe-4ad1-4794-827d-87045f8d582f",
      "name": "News Sumarizer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1472,
        -144
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZUFeCKTYUWusW7hp",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "raw_news": "1. Siemens steigert Umsatz im zweiten Quartal um 8 Prozent (Handelsblatt) - Sat, 14 Feb 2026\n2. Siemens Healthineers gewinnt Großauftrag in Saudi-Arabien (Reuters) - Fri, 13 Feb 2026\n3. EU AI Act tritt in Kraft: Was Unternehmen jetzt beachten müssen (FAZ) - Sat, 14 Feb 2026\n4. Künstliche Intelligenz verändert die Fertigungsindustrie grundlegend (Bloomberg) - Fri, 13 Feb 2026\n5. Siemens investiert 500 Millionen in neue KI-Forschungszentren (Manager Magazin) - Thu, 12 Feb 2026\n6. Konkurrent Schneider Electric meldet Gewinnrückgang (Financial Times) - Fri, 13 Feb 2026\n7. Deutsche Industrie warnt vor neuen US-Zöllen auf Maschinenbau (Spiegel) - Sat, 14 Feb 2026\n8. Halbleiter-Engpass betrifft europäische Automatisierungstechnik (Wirtschaftswoche) - Thu, 12 Feb 2026\n9. Siemens Energy Aktie erreicht Jahreshoch nach Windkraft-Deal (Börsen-Zeitung) - Fri, 13 Feb 2026\n10. Bundesregierung fördert Digitalisierung im Mittelstand mit 2 Mrd Euro (Tagesschau) - Sat, 14 Feb 2026\n11. Roland Busch kündigt Restrukturierung der Digital Industries Sparte an (Süddeutsche) - Thu, 12 Feb 2026\n12. Schneider Electric und ABB liefern sich Preiskampf bei Gebäudeautomation (Handelsblatt) - Fri, 13 Feb 2026"
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "News Sumarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News Sumarizer": {
      "main": [
        [
          {
            "node": "Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f635ad2e-bf68-43e8-8c7a-75835a44cf06",
  "meta": {
    "instanceId": "ee048f937b376be2929fba64aa732ef79995f4552c3c3f966dab7d6eb6ab8716"
  },
  "id": "5hB097piyTNIMkAJPTMtp",
  "tags": [
    {
      "updatedAt": "2026-02-15T11:06:45.886Z",
      "createdAt": "2026-02-15T11:06:45.886Z",
      "id": "y0703l5B1OPtw1gh",
      "name": "sub-workflow"
    }
  ]
}