workflows/summarize-articles.json
{
  "name": "Summarize Articles",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "d9498ed9-660b-4855-9b0f-c56ec7f28d6a",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        280,
        280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "summarize",
        "options": {}
      },
      "id": "webhook-summarize",
      "name": "Webhook: Summarize",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        280,
        480
      ],
      "webhookId": "summarize-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract limit from webhook body or use default\n// Schedule trigger: default 10\n// Webhook: use provided limit, 0 = all, default 10\n\nconst DEFAULT_LIMIT = 10;\nconst MAX_LIMIT = 1000; // Safety cap\n\nlet limit = DEFAULT_LIMIT;\nlet source = 'schedule';\n\n// Check if this came from webhook with body\nconst firstItem = $input.first();\nif (firstItem && firstItem.json) {\n  const body = firstItem.json.body || firstItem.json;\n  if (body.limit !== undefined) {\n    if (body.limit === 0 || body.limit === null) {\n      // 0 or null means \"all\" - use very high number\n      limit = MAX_LIMIT;\n    } else {\n      limit = Math.min(Math.max(1, parseInt(body.limit) || DEFAULT_LIMIT), MAX_LIMIT);\n    }\n    source = 'webhook';\n  }\n}\n\nreturn {\n  json: {\n    limit: limit,\n    source: source\n  }\n};"
      },
      "id": "set-parameters",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        504,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, url, title, content FROM articles WHERE processed = FALSE ORDER BY fetched_at ASC LIMIT {{ $json.limit }}",
        "options": {}
      },
      "id": "0e23790b-1c3d-49b0-bfd1-2a6850f0f76a",
      "name": "Fetch Unprocessed Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        728,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-articles",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "afd7648d-d6a5-45ca-9fec-1142f321f16a",
      "name": "Check Articles Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        952,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mock-mode-toggle",
              "name": "mock_mode",
              "value": "=false",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "check-mock-mode",
      "name": "Set Mock Mode Toggle",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1176,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Generate mock summary when mock mode is enabled\nconst title = $json.title || 'Unknown Article';\nconst id = $json.id;\nconst mockShort = `[MOCK] ${title.substring(0, 80)}...`;\nconst mockLong = `[MOCK SUMMARY] This is a mock summary for testing purposes. Article: \"${title}\". In a real scenario, this would contain an AI-generated detailed summary.`;\n\nreturn {\n  json: {\n    article_id: id,\n    summary_short: mockShort.substring(0, 150),\n    summary_long: mockLong,\n    success: true,\n    mock: true\n  }\n};",
        "outputs": 1
      },
      "id": "generate-mock-summary",
      "name": "Generate Mock Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-mock",
              "leftValue": "={{ $json.mock_mode }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-mock-or-real",
      "name": "Route Mock or Real",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1624,
        380
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional news summarizer. Create two versions of a summary for the following article:\n\n**Title:** {{ $json.title }}\n\n**Content:** {{ $json.content }}\n\nProvide:\n1. **Short Summary** (2-3 sentences, max 150 characters)\n2. **Long Summary** (1 detailed paragraph with key insights)\n\nFormat your response as JSON:\n{\n  \"short\": \"your short summary here\",\n  \"long\": \"your long summary here\"\n}"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        }
      },
      "id": "511be6e9-ef31-4139-94bf-eeb052ad4a80",
      "name": "OpenAI Summarize",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1848,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "news-agent-openai",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse OpenAI response and extract summaries\nconst response = $input.item.json.message.content;\n\ntry {\n  // Try to parse JSON response\n  const summaries = JSON.parse(response);\n  \n  return {\n    json: {\n      article_id: $('Fetch Unprocessed Articles').item.json.id,\n      summary_short: summaries.short,\n      summary_long: summaries.long,\n      success: true\n    }\n  };\n} catch (error) {\n  // Fallback: use raw response as summary\n  return {\n    json: {\n      article_id: $('Fetch Unprocessed Articles').item.json.id,\n      summary_short: response.substring(0, 150),\n      summary_long: response,\n      success: false,\n      error: 'Failed to parse JSON response'\n    }\n  };\n}"
      },
      "id": "e9271f02-9d47-4397-85cc-e692832a2f09",
      "name": "Parse Summaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2072,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE articles SET summary_short = $1, summary_long = $2, processed = TRUE WHERE id = $3",
        "options": {
          "queryReplacement": "={{ [$json.summary_short, $json.summary_long, $json.article_id] }}"
        }
      },
      "id": "b2eca4c5-4c57-4522-acd1-446217a7307a",
      "name": "Update Article with Summaries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2296,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Count processed articles\nconst processedCount = $input.all().length;\nconst successCount = $input.all().filter(item => item.json.success !== false).length;\nconst mockCount = $input.all().filter(item => item.json.mock === true).length;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    articles_processed: processedCount,\n    successful: successCount,\n    failed: processedCount - successCount,\n    mock_mode: mockCount > 0,\n    message: mockCount > 0 \n      ? `[MOCK MODE] Processed ${processedCount} articles with fake summaries`\n      : `Processed ${processedCount} articles (${successCount} successful)`\n  }\n};"
      },
      "id": "a7cbf578-2e6c-4875-b832-558eeaf6039a",
      "name": "Count Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2296,
        380
      ]
    },
    {
      "parameters": {
        "content": "## No Articles to Process\n\nNo unprocessed articles found in the database.",
        "height": 80,
        "width": 150
      },
      "id": "68ea90bf-ade8-4859-8081-bd44231bb0b3",
      "name": "No Articles Found",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        952,
        540
      ]
    },
    {
      "parameters": {
        "content": "## Limit Parameter\n\nSchedule: uses default (10)\nWebhook: reads `limit` from body\n- limit=0 or null: process ALL\n- limit=N: process N articles\n- Max: 1000 (safety cap)",
        "height": 140,
        "width": 260
      },
      "id": "limit-note",
      "name": "Limit Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        504,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Mock Mode Toggle\n\nEdit the \"Set Mock Mode Toggle\" node:\n- Set value to `true` for mock summaries\n- Set value to `false` for real OpenAI",
        "height": 100,
        "width": 200
      },
      "id": "mock-mode-note",
      "name": "Mock Mode Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1176,
        200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Summarize": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Fetch Unprocessed Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unprocessed Articles": {
      "main": [
        [
          {
            "node": "Check Articles Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Articles Exist": {
      "main": [
        [
          {
            "node": "Set Mock Mode Toggle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Mock Mode Toggle": {
      "main": [
        [
          {
            "node": "Route Mock or Real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Mock or Real": {
      "main": [
        [
          {
            "node": "Generate Mock Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Mock Summary": {
      "main": [
        [
          {
            "node": "Update Article with Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Summarize": {
      "main": [
        [
          {
            "node": "Parse Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summaries": {
      "main": [
        [
          {
            "node": "Update Article with Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Article with Summaries": {
      "main": [
        [
          {
            "node": "Count Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
