workflows/TOOL_ Send Curated Email Digest.json
{
  "name": "TOOL: Send Curated Email Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "digest-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        288,
        304
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-curated-digest",
        "options": {}
      },
      "id": "digest-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        288,
        512
      ],
      "webhookId": "send-curated-digest-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email FROM digest_recipients WHERE enabled = TRUE",
        "options": {}
      },
      "id": "fetch-recipients",
      "name": "Fetch Recipients",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        512,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-recipients",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-recipients",
      "name": "Check Recipients Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        736,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all recipient emails into a single item\nconst recipients = $input.all().map(item => item.json.email);\n\nreturn {\n  json: {\n    recipient_emails: recipients,\n    recipient_count: recipients.length\n  }\n};"
      },
      "id": "collect-recipients",
      "name": "Collect Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        384
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7JZBLepEeQDOlUUJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/7JZBLepEeQDOlUUJ",
          "cachedResultName": "CURATOR: News Curator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usecase": "daily_newsletter",
            "topic": "",
            "max_articles": 10,
            "days_back": 1,
            "language": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usecase",
              "displayName": "usecase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "max_articles",
              "displayName": "max_articles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "days_back",
              "displayName": "days_back",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "call-curator",
      "name": "Call News Curator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1184,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-articles",
              "leftValue": "={{ $json.article_count ?? (($json.articles || []).length) ?? 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-curated-articles",
      "name": "Check Curated Articles",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1408,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/api/digest/render",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"articles\": ($json.articles || $json.curated_articles || []), \"total_candidates\": ($json.total_candidates || ($json.articles || []).length || ($json.curated_articles || []).length || 0), \"usecase\": ($json.usecase || \"daily_newsletter\"), \"recipient_emails\": ($(\"Collect Recipients\").first().json.recipient_emails || []) } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "generate-siemens-email",
      "name": "Generate Siemens Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        368
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "news-agent-api-key",
          "name": "News Agent API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Split recipients into individual items for loop\nconst emailData = $input.first().json;\nconst emails = emailData.recipient_emails || [];\n\n// Return one item per recipient\nreturn emails.map(email => ({\n  json: {\n    to_email: email,\n    html_content: emailData.html_content,\n    subject: emailData.subject,\n    article_ids: emailData.article_ids,\n    article_count: emailData.article_count\n  }\n}));"
      },
      "id": "split-recipients",
      "name": "Split Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        368
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@newsagent.local",
        "toEmail": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html_content }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2080,
        368
      ],
      "webhookId": "2df4b5ef-b5f4-48e0-9cc7-ecaa61d28300",
      "credentials": {
        "smtp": {
          "id": "news-agent-smtp",
          "name": "Email SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (() => { const ids = $('Generate Siemens Email').first().json.article_ids || []; if (!ids.length) return 'SELECT 0 AS updated_count'; const uuidItems = ids.map(id => `'${String(id).replace(/'/g, \"''\")}'::uuid`).join(','); return `UPDATE articles SET sent = TRUE WHERE id = ANY(ARRAY[${uuidItems}])`; })() }}",
        "options": {}
      },
      "id": "mark-sent",
      "name": "Mark Articles Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2304,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "news-agent-postgres",
          "name": "News Agent DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Final success message\nconst emailData = $('Generate Siemens Email').first().json;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    articles_sent: emailData.article_count,\n    recipients_count: emailData.recipient_count,\n    status: 'success',\n    message: `Successfully sent curated digest with ${emailData.article_count} articles to ${emailData.recipient_count} recipients`\n  }\n};"
      },
      "id": "success-message",
      "name": "Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// No recipients - return error\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    status: 'skipped',\n    reason: 'no_recipients',\n    message: 'No enabled recipients found in database'\n  }\n};"
      },
      "id": "no-recipients",
      "name": "No Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "// No articles curated - return info\nconst curatorResult = $input.first().json;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    status: 'skipped',\n    reason: 'no_articles',\n    message: curatorResult.message || 'No articles found matching criteria',\n    total_candidates: curatorResult.total_candidates || 0\n  }\n};"
      },
      "id": "no-articles",
      "name": "No Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        560
      ]
    },
    {
      "parameters": {
        "content": "## Send Curated Digest\n\n**⏰ Schedule:** Täglich um 8:00 Uhr\n\n### Ablauf:\n1. Empfänger aus DB laden\n2. News Curator aufrufen (daily_newsletter)\n3. Siemens-formatierte Email generieren\n4. An alle Empfänger senden\n5. Artikel als 'sent' markieren\n\n### Webhook:\nPOST /webhook/send-curated-digest\n\n### Curator-Einstellungen:\n- usecase: daily_newsletter\n- max_articles: 10\n- days_back: 1",
        "height": 496,
        "width": 280
      },
      "id": "info-note",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recipients": {
      "main": [
        [
          {
            "node": "Check Recipients Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recipients Exist": {
      "main": [
        [
          {
            "node": "Collect Recipients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Recipients": {
      "main": [
        [
          {
            "node": "Call News Curator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call News Curator": {
      "main": [
        [
          {
            "node": "Check Curated Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Curated Articles": {
      "main": [
        [
          {
            "node": "Generate Siemens Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Siemens Email": {
      "main": [
        [
          {
            "node": "Split Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Recipients": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Mark Articles Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Articles Sent": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "981c0b6c-96cf-4a62-9939-55f0c9ee0169",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "42727648df589eb8dbc79f92c7ed3d6dff6852d04ad63ae225b988104757d32d"
  },
  "id": "BeKftTiqTpSPxgvH",
  "tags": []
}
