workflows/UPDATER_ RSS Feed Validator.json
{
  "name": "UPDATER: RSS Feed Validator",
  "nodes": [
    {
      "parameters": {
        "content": "## UPDATER: RSS Feed Validator\n\n**Zweck:** Prüft ob eine URL ein gültiger RSS Feed ist.\n\n### Input\n- `url`: Feed-URL zum Validieren\n\n### Validierung\n1. HTTP Request zur URL\n2. Prüfe Response auf XML\n3. Parse RSS/Atom Struktur\n4. Zähle vorhandene Items\n\n### Output\n```json\n{\n  \"status\": \"VALID\",\n  \"name\": \"Feed Name\",\n  \"itemCount\": 25,\n  \"url\": \"https://...\"\n}\n```\n\n### Status-Werte\n- `VALID` - Gültiger RSS/Atom Feed\n- `NOT_RSS` - Kein RSS Format\n- `UNREACHABLE` - URL nicht erreichbar\n\n### Verwendet von\n- RSS Feed Discovery\n- Agent (Tool)",
        "height": 400,
        "width": 280
      },
      "id": "info-note",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -144
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            }
          ]
        }
      },
      "id": "3e849edf-2d59-4bdd-a7bb-ad4653a5aba4",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        -32
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "id": "73b11a0f-03fb-4540-81fa-56cde87976c1",
      "name": "Fetch Feed URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        -32
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data || '';\nconst url = $('Execute Workflow Trigger').first().json.url;\nconst error = $json.error;\nconst statusCode = $json.statusCode || 0;\n\nif (error || data.length < 50) {\n  return [{ json: { response: 'UNREACHABLE: ' + (error || 'Empty response') } }];\n}\n\nconst isRSS = data.includes('<rss') || data.includes('<feed') || data.includes('<channel') || data.includes('<item>') || data.includes('<entry>');\n\nif (!isRSS) {\n  return [{ json: { response: 'NOT_RSS: URL erreichbar aber kein RSS-Format' } }];\n}\n\nconst m = data.match(/<title>([^<]+)<\\/title>/);\nconst name = m ? m[1] : 'Unknown';\nconst items = (data.match(/<item>/g) || []).length + (data.match(/<entry>/g) || []).length;\n\nreturn [{ json: { response: 'VALID: ' + name + ' (' + items + ' Artikel)' } }];"
      },
      "id": "af53b674-1a69-42aa-bb30-831f5e524e1d",
      "name": "Validate Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -32
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Fetch Feed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Feed URL": {
      "main": [
        [
          {
            "node": "Validate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "811c7748-2e89-430d-8915-b39dfd56f4f7",
  "meta": {
    "instanceId": "42727648df589eb8dbc79f92c7ed3d6dff6852d04ad63ae225b988104757d32d"
  },
  "id": "rD_S2_zWqydJCyeTB2MjS",
  "tags": []
}