workflows/x-posting.json
{
  "name": "GHOSTWRITER: X Posting",
  "nodes": [
    {
      "parameters": {
        "content": "## GHOSTWRITER: X Posting\n\n**Zweck:** Generiert X/Twitter-Posts aus News-Content.\n\n### Input\n- `raw_content`: News/Artikel-Text\n- `style`: Tonalität des Posts\n\n### Styles\n- `professional` (default)\n- `provocative`\n- `informative`\n\n### Output\n```json\n{\n  \"post\": \"Fertiger Tweet...\",\n  \"valid\": true\n}\n```\n\n### GPT Anweisungen\n- Max 280 Zeichen (strikt!)\n- Prägnant und teilbar\n- Optional 1-2 Hashtags\n- Kein Markdown\n\n### Validierung\n- Retry bei > 280 Zeichen\n- Max 3 Versuche\n- GPT Korrektur-Loop\n\n### Telegram Auslöser\n- \"X Post zu...\"\n- \"Tweet erstellen\"\n- \"Twitter Post\"",
        "height": 460,
        "width": 280
      },
      "id": "info-note",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        290,
        -700
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "raw_content"
            },
            {
              "name": "style"
            }
          ]
        }
      },
      "id": "3c04cf3d-01f2-45cc-909e-41803f749292",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        592,
        -576
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Du bist ein X/Twitter Ghostwriter. Du erstellst Posts die performen.\n\nREGELN:\n- Maximal 270 Zeichen (Puffer für URL-Encoding)\n- Hashtags zählen zum Zeichenlimit\n- Max 3 Hashtags, nur relevante\n- Keine Emojis am Satzanfang\n- Kein \"Breaking\" oder Clickbait-Floskeln\n- Erster Satz muss Hook sein — Frage, Bold Claim oder Zahl\n- Schreibe NUR den Post, keine Erklärung, kein Kommentar drumherum\n\nSTYLE-INTERPRETATION:\nDer User gibt dir einen Style-Parameter. Halte dich strikt daran:\n- \"professional\" = sachlich, Thought-Leadership-Ton\n- \"provocative\" = polarisierend, Meinung, kurze Sätze\n- \"informative\" = Fakten-first, nüchtern\n- Wenn kein Style angegeben: default auf \"professional\"\n\nOUTPUT: Nur der fertige Post. Nichts anderes.",
              "role": "=system"
            },
            {
              "content": "=Thema: {{ $json.raw_content }}\nStyle: {{ $json.style || 'professional' }}",
              "role": "=user"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        }
      },
      "id": "4a62fb32-abcd-452d-9ff4-e281b1ed5d3c",
      "name": "X Ghostwriter",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        816,
        -576
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZUFeCKTYUWusW7hp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Erster Durchlauf: Post kommt vom Ghostwriter\n// Loop-Durchläufe: Post kommt von der Correction\nconst input = $input.first().json;\n\n// Post-Text bestimmen (Ghostwriter oder Correction)\nconst text = input.message?.content || input.post || '';\n\n// Retry-Counter hochzählen\nconst retries = (input.retries || 0);\n\nconst T_CO_LENGTH = 23;\nconst MAX_LENGTH = 280;\n\nconst urlRegex = /https?:\\/\\/[^\\s]+/g;\nconst urls = text.match(urlRegex) || [];\n\nlet adjustedLength = text.length;\nfor (const url of urls) {\n  adjustedLength = adjustedLength - url.length + T_CO_LENGTH;\n}\n\nconst emojiRegex = /\\p{Emoji_Presentation}|\\p{Extended_Pictographic}/gu;\nconst emojis = text.match(emojiRegex) || [];\nfor (const emoji of emojis) {\n  adjustedLength = adjustedLength - emoji.length + 2;\n}\n\nconst isValid = adjustedLength <= MAX_LENGTH && text.trim().length > 0;\n\nreturn [{ json: { isValid, post: text, adjustedLength, retries } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -576
      ],
      "id": "21c455c4-fddd-4f82-a917-765aefb51485",
      "name": "Validate Post"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "658578a4-8945-4ed2-8fd9-98a5bba32dc1",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1264,
        -576
      ],
      "id": "9cc30133-5df5-43ab-a6b0-7437ee182ae7",
      "name": "Valid?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-valid",
              "name": "response",
              "value": "={{ $json.post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e83c75ae-e0d3-459b-bf33-69be628b6c22",
      "name": "Return Post",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        -592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "max-retries-check",
              "leftValue": "={{ $json.retries }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1440,
        -480
      ],
      "id": "0151305b-a5fa-4b87-8e1a-c012972ec44b",
      "name": "Retries < 3?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Du korrigierst X/Twitter Posts die das Zeichenlimit überschreiten.\n\nREGELN:\n- Kürze auf max 270 Zeichen\n- Erhalte den Kerninhalt und Ton\n- Hashtags reduzieren bevor Inhalt gekürzt wird\n- Keine neuen Informationen hinzufügen\n- Kein Kommentar, nur den korrigierten Post ausgeben\n\nOUTPUT: Nur der korrigierte Post. Nichts anderes.",
              "role": "=system"
            },
            {
              "content": "=Dieser Post ist {{ $json.adjustedLength }} Zeichen lang (max 280). Kürze ihn:\n\n{{ $json.post }}",
              "role": "=user"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.2
        }
      },
      "id": "199eccc8-29c2-4d21-9a66-7579774f8c42",
      "name": "Correction",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1616,
        -416
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZUFeCKTYUWusW7hp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Retries hochzählen und Post für nächste Validation vorbereiten\nconst input = $input.first().json;\nconst prevRetries = $('Validate Post').first().json.retries || 0;\n\nreturn [{ json: { \n  post: input.message.content,\n  retries: prevRetries + 1\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -416
      ],
      "id": "851e10d7-170a-40dd-b13d-db1a1d4658cf",
      "name": "Increment Retry"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "raw_content": "Siemens",
          "style": "highly professional engaging"
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "X Ghostwriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X Ghostwriter": {
      "main": [
        [
          {
            "node": "Validate Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Post": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Return Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retries < 3?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retries < 3?": {
      "main": [
        [
          {
            "node": "Correction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correction": {
      "main": [
        [
          {
            "node": "Increment Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Retry": {
      "main": [
        [
          {
            "node": "Validate Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e6a19dc2-06c8-4a3c-a9d1-e62c2c912f83",
  "meta": {
    "instanceId": "ee048f937b376be2929fba64aa732ef79995f4552c3c3f966dab7d6eb6ab8716"
  },
  "id": "jmzMPebmVdBYKtLiHvpkc",
  "tags": [
    {
      "updatedAt": "2026-02-15T11:06:54.397Z",
      "createdAt": "2026-02-15T11:06:54.397Z",
      "id": "gi9ovDnn7x6JU3OX",
      "name": "tool"
    }
  ]
}